<%= require('@parts/header.ejs')({title: 'Frontpage' }) %>

<main class="homepage" id="root">
    <section class="ach">
        <div class="container">
            <div class="breadcrumbs">
                <a href="">Главная</a>
                <span>
                    Блог
                </span>
            </div>
            <div class="ach__header">
                <h2 class="ach__title">
                    Наши достижения
                </h2>
                <ul class="ach__nav">
                    <li><a href="" class="active">
                        Достижения <br> школы
                    </a></li>
                    <li><a href="">
                        Достижения <br> учеников
                    </a></li>
                    <li><a href="">
                        Достижения <br> сотрудников
                    </a></li>
                </ul>
            </div>
            <div class="ach__block">
                <span class="ach__year">
                    2021
                </span> 
                <div class="ach__content">
                    <h3>
                        9-ый Всероссийский школьный конкурс «Мост китайского языка»
                    </h3>
                    <p>
                        <strong>I место в старшей возрастной группе</strong> - Матвей Карнашин <br>
                        Также Матвей выиграл в номинации «Лучшее ораторское выступление»
                    </p>
                    <p>
                        <strong>I место в групповом зачете в младшей возрастной группе</strong> - команда Санкт-Петербурга 
                    </p>
                    <p>
                        <strong>II место в младшей возрастной группе</strong> - Варвара Кацер
                    </p>
                    <p>
                        <strong>III место в младшей возрастной группе</strong> - Кристина Богданова
                    </p>
                    <p>
                        <strong>III место в старшей возрастной группе</strong> - Алиса Савинова
                    </p>
                    <h3>
                        14-ый Санкт-Петербургский конкурс на знание китайского языка среди школьников «Китайский мост»
                    </h3>
                    <h4>
                        Младшая возрастная группа:
                    </h4>
                    <p>
                        <strong>I место</strong> – Кацер Варвара,Богданова Кристина
                    </p>
                    <p>
                        <strong>II место</strong> – Ваксова Александра, Дзюбак Лев
                    </p>
                    <p>
                        <strong>II место</strong> – Будкевич Дарья
                    </p>
                    <p>
                        <strong>Номинация «Самый активный участник»</strong> – Гориславский Иван
                    </p>
                    <h4>
                        Средняя возрастная группа:
                    </h4>
                    <p>
                        <strong>I место</strong> – Юрьев Митрофан
                    </p>
                    <h4>
                        Старшая возрастная группа:
                    </h4>
                    <p>
                        <strong>I место</strong> – Карнашин Матвей
                    </p>
                    <p>
                        <strong>2 место</strong> – Савинова Алиса
                    </p>
                    <p>
                        <strong>Номинация «Лучшее произношение»</stron> – Карнашин Матве
                    </p>
                </div>
            </div>
            <div class="ach__block">
                <span class="ach__year">
                    2018
                </span> 
                <div class="ach__content">
                    <h3>
                        6-ой всероссийский конкурс на знание китайского языка среди школьников "Китайский мост" (Москва)
                    </h3>
                    <div class="ach__group">
                        <div class="ach__group-img">
                            <img src="<%=require('@img/ach-1.png') %>" alt="">
                        </div>
                        <div class="ach__group-content">
                            <p>
                                <strong>I место в командном зачете</strong> - Команда ЧУОДО "Академия восточных языков и культуры "Конфуций": Визитей Екатерина и Шохина Юлия
                            </p>
                            <p>
                                <strong>II место в единоличном зачете</stron> - Визитей Екатерина и Шохина Юлия
                            </p>
                        </div>
                    </div>
                    <h3>
                        11-ый Санкт-Петербургский конкурс на знание китайского языка среди школьников "Китайский мост" в Санкт-Петербурге (общие итоги)
                    </h3>
                    <div class="ach__group">
                        <div class="ach__group-img">
                            <img src="<%=require('@img/ach-1.png') %>" alt="">
                        </div>
                        <div class="ach__group-content">
                           <p><strong>1-е место в единоличном зачете</stron> - Бузакова Юлия (школа "Конфуций")</p>
                        </div>
                    </div>
                    <div class="ach__group">
                        <div class="ach__group-img">
                            <img src="<%=require('@img/ach-1.png') %>" alt="">
                        </div>
                        <div class="ach__group-content">
                           <p><strong>1-е место в командном зачете</strong> - Визитей Екатерина и Шохина Юлия (школа "Конфуций")</p>
                        </div>
                    </div>
                    <h3>
                        Региональный этап Всероссийской олимпиады школьников по китайскому языку
                    </h3>
                    <p>
                        <strong>Победитель</strong> - Пелевин Арсений
                    </p>
                    <p>
                        <strong>Победитель</strong> - Махмутова Лилия
                    </p>
                    <p>
                        <strong>Призер</strong> - Воробьева Мария 
                    </p>
                    <p>
                        <strong>Призер</strong> - Телегина Диана 
                    </p>
                    <p>
                        <strong>Призер</strong> - Шохина Юлия 
                    </p>
                    <p>
                        <strong>Призер</strong> - Визитей Екатерина
                    </p>
                    <p>
                        <strong>Призер</strong> - Короткова Николь
                    </p>
                    <p>
                        <strong>Призер</strong> - Костин Антоний  
                    </p>
                </div>
            </div>
            <div class="ach__block">
                <span class="ach__year">
                    2017
                </span> 
                <div class="ach__content">
                    <div class="ach__group">
                        <div class="ach__group-img">
                            <img src="<%=require('@img/ach-1.png') %>" alt="">
                        </div>
                        <div class="ach__group-content">
                            <h3>
                                Награда «Лучший центр тестирования», XII Съезде Институтов Конфуция, Сиань
                            </h3>
                        </div>
                    </div>
                    <h3>
                        6-ой всероссийский конкурс на знание китайского языка среди студентов "Китайский мост" (Казань)
                    </h3>
                    <p>
                        <strong>1-е место в единоличном зачете</strong> - Бузакова Юлия (школа "Конфуций")
                    </p>
                    <div class="ach__group">
                        <div class="ach__group-img">
                            <img src="<%=require('@img/ach-1.png') %>" alt="">
                        </div>
                        <div class="ach__group-content">
                            <h3>
                                5-ий всероссийский конкурс на знание китайского языка среди школьников "Китайский мост" (Москва)
                            </h3>
                           <p>
                            <strong>2-е место в командном зачете</strong> - Команда ЧУОДО "Академия восточных языков и культуры "Конфуций": Телегина Диана, Ефименко Евгения, Егоров Матвей
                           </p>
                           <p>
                            <strong>1-е место в единоличном зачете</stron> - Телегина Диана
                           </p>
                        </div>
                    </div>
                    <div class="ach__group">
                        <div class="ach__group-img">
                            <img src="<%=require('@img/ach-1.png') %>" alt="">
                        </div>
                        <div class="ach__group-content">
                            <h3>
                                10-ый Санкт-Петербургский конкурс на знание китайского языка среди школьников "Китайский мост" в Санкт-Петербурге (общие итоги)
                            </h3>
                           <p>
                            <strong>2-е место в командном зачете</strong> - Команда ЧУОДО "Академия восточных языков и культуры "Конфуций": Телегина Диана, Ефименко Евгения, Егоров Матвей
                           </p>
                           <p>
                            <strong>1-е место в единоличном зачете</strong> - Бузакова Юлия
                           </p>
                           <p>
                            <strong>2-е место в единоличном зачете</strong> - Прохошин Алексей
                           </p>
                           <p>
                            <strong>3-е место в единоличном зачете</strong> - Мишина Арина
                           </p>
                        </div>
                    </div>
                    <h3>
                        Региональный этап Всероссийской олимпиады школьников по китайскому языку
                    </h3>
                    <p>
                        <strong>Победитель</strong> - Пелевин Арсений
                    </p>
                    <p>
                        <strong>Победитель</strong> - Махмутова Лилия
                    </p>
                    <p>
                        <strong>Призер</strong> - Воробьева Мария 
                    </p>
                    <p>
                        <strong>Призер</strong> - Телегина Диана 
                    </p>
                    <p>
                        <strong>Призер</strong> - Шохина Юлия 
                    </p>
                    <p>
                        <strong>Призер</strong> - Визитей Екатерина
                    </p>
                    <p>
                        <strong>Призер</strong> - Короткова Николь
                    </p>
                    <p>
                        <strong>Призер</strong> - Костин Антоний  
                    </p>
                </div>
            </div>
        </div>
    </section>
</main>

<%= require('@parts/footer.ejs')() %>