<%= require('@parts/header.ejs')({title: 'Frontpage' }) %>

<main class="homepage" id="root">
    <section class="documents">
        <div class="container">
            <div class="breadcrumbs">
                <a href="">Главная</a>
                <a href="">О нас</a>
                <span>
                    Основные сведения
                </span>
            </div>
            <h2 class="documents__title">
                Документы
            </h2>
            <ul class="documents__list">
                <li>
                    <a href="" target="_blank">
                        Устав ЧУОДО "Академия восточных языков и культуры "Конфуций"
                    </a>
                </li>
                <li>
                    <a href="" target="_blank">
                        Устав ЧУОДО "Академия восточных языков и культуры "Конфуций"
                    </a>
                </li>
                <li>
                    <a href="" target="_blank">
                        Устав ЧУОДО "Академия восточных языков и культуры "Конфуций"
                    </a>
                </li>
                <li>
                    <a href="" target="_blank">
                        Устав ЧУОДО "Академия восточных языков и культуры "Конфуций"
                    </a>
                </li>
                <li>
                    <a href="" target="_blank">
                        Устав ЧУОДО "Академия восточных языков и культуры "Конфуций"
                    </a>
                </li>
                <li>
                    <a href="" target="_blank">
                        Устав ЧУОДО "Академия восточных языков и культуры "Конфуций"
                    </a>
                </li>
                <li>
                    <a href="" target="_blank">
                        Устав ЧУОДО "Академия восточных языков и культуры "Конфуций"
                    </a>
                </li>
                <li>
                    <a href="" target="_blank">
                        Устав ЧУОДО "Академия восточных языков и культуры "Конфуций"
                    </a>
                </li>
                <li>
                    <a href="" target="_blank">
                        Устав ЧУОДО "Академия восточных языков и культуры "Конфуций"
                    </a>
                </li>
                <li>
                    <a href="" target="_blank">
                        Устав ЧУОДО "Академия восточных языков и культуры "Конфуций"
                    </a>
                </li>
                <li>
                    <a href="" target="_blank">
                        Устав ЧУОДО "Академия восточных языков и культуры "Конфуций"
                    </a>
                </li>
                <li>
                    <a href="" target="_blank">
                        Устав ЧУОДО "Академия восточных языков и культуры "Конфуций"
                    </a>
                </li>
                <li>
                    <a href="" target="_blank">
                        Устав ЧУОДО "Академия восточных языков и культуры "Конфуций"
                    </a>
                </li>
                <li>
                    <a href="" target="_blank">
                        Устав ЧУОДО "Академия восточных языков и культуры "Конфуций"
                    </a>
                </li>
                <li>
                    <a href="" target="_blank">
                        Устав ЧУОДО "Академия восточных языков и культуры "Конфуций"
                    </a>
                </li>
            </ul>
        </div>
    </section>
</main>

<%= require('@parts/footer.ejs')() %>