<%= require('@parts/header.ejs')({title: 'header_unfilled' }) %>

<main class="homepage" id="root">
    <div class="exam">
        <div class="part-bg">
            <section class="part-header">
                <div class="container">
                    <div class="breadcrumbs">
                        <a href="">Главная</a>
                        <span>
                            Блог
                        </span>
                    </div>
                    <div class="part-header__row">
                        <h2 class="part-header__title">
                            Курсы Китайского языка в Санкт-Петербурге
                        </h2>
                        <p class="part-header__txt">
                            Преподаем китайский язык на международном уровне с 2007 года, войдя в состав глобальной сети Институтов и Школ Конфуций (Центр языкового образования и сотрудничества При Министерстве Образования КНР)
                        </p>
                    </div>
                </div>
                <div class="part-header__img-wrapper">
                    <div class="part-header__img">
                        <img src="<%=require('@img/part-header.png') %>" alt="">
                    </div>
                </div>
            </section>
            <section class="exam-accord">
                <div class="container">
                    <div class="exam-accord__red accord-red">
                        <ul class="accord-red__nav">
                            <li class="accord-red__nav-li accord-red__nav-li_lg active">
                                HSK
                            </li>
                            <li class="accord-red__nav-li accord-red__nav-li_lg">
                                HSKK
                            </li>
                            <li class="accord-red__nav-li accord-red__nav-li_lg">
                                YCT
                            </li>
                            <li class="accord-red__nav-li accord-red__nav-li_lg">
                                BCT
                            </li>
                            <li class="accord-red__nav-li">
                                Порядок регистрации на экзамены
                            </li>
                            <li class="accord-red__nav-li">
                                Расписание экзаменов
                            </li>
                        </ul>
                        <div class="accord-red__block accord-red__block_list active">
                            <p>
                                Небольшое описание выбранного подраздела, абзацем примерно в 4-5 строк для создания общего опнимания пользователя о содержании раздела
                            </p>
                            <ul>
                                <li>
                                    Удобные формы обучения онлайн дома или в классе академии
                                </li>
                                <li>
                                    Группы по всем возрастам от 9 до 16 лет
                                </li>
                            </ul>
                        </div>
                        <div class="accord-red__block accord-red__block_list">
                            <p>
                                Небольшое описание выбранного подраздела, абзацем примерно в 4-5 строк для создания общего опнимания пользователя о содержании раздела
                            </p>
                            <ul>
                                <li>
                                    Удобные формы обучения онлайн дома или в классе академии
                                </li>
                                <li>
                                    Группы по всем возрастам от 9 до 16 лет
                                </li>
                            </ul>
                        </div>
                        <div class="accord-red__block accord-red__block_list">
                            <p>
                                Небольшое описание выбранного подраздела, абзацем примерно в 4-5 строк для создания общего опнимания пользователя о содержании раздела
                            </p>
                            <ul>
                                <li>
                                    Удобные формы обучения онлайн дома или в классе академии
                                </li>
                                <li>
                                    Группы по всем возрастам от 9 до 16 лет
                                </li>
                            </ul>
                        </div>
                        <div class="accord-red__block accord-red__block_list">
                            <p>
                                Небольшое описание выбранного подраздела, абзацем примерно в 4-5 строк для создания общего опнимания пользователя о содержании раздела
                            </p>
                            <ul>
                                <li>
                                    Удобные формы обучения онлайн дома или в классе академии
                                </li>
                                <li>
                                    Группы по всем возрастам от 9 до 16 лет
                                </li>
                            </ul>
                        </div>
                        <div class="accord-red__block accord-red__block_list">
                            <p>
                                Небольшое описание выбранного подраздела, абзацем примерно в 4-5 строк для создания общего опнимания пользователя о содержании раздела
                            </p>
                            <ul>
                                <li>
                                    Удобные формы обучения онлайн дома или в классе академии
                                </li>
                                <li>
                                    Группы по всем возрастам от 9 до 16 лет
                                </li>
                            </ul>
                        </div>
                        <div class="accord-red__block accord-red__block_list">
                            <p>
                                Небольшое описание выбранного подраздела, абзацем примерно в 4-5 строк для создания общего опнимания пользователя о содержании раздела
                            </p>
                            <ul>
                                <li>
                                    Удобные формы обучения онлайн дома или в классе академии
                                </li>
                                <li>
                                    Группы по всем возрастам от 9 до 16 лет
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <section class="exam-info">
            <div class="container">
                <div class="exam-info__row">
                    <div class="exam-info__left">
                        <h2 class="exam-info__title">
                            Международные экзамены по китайскому языку
                        </h2>
                        <p class="exam-info__txt">
                            На официальном ресурсе <a href="www.chinesetest.cn/gosimexam.do">www.chinesetest.cn/gosimexam.do</a> возможна сдача «имитационных экзаменов», с помощью которых можно определить свой уровень.
                        </p>
                        <div class="exam-info__link-wrapper">
                            <a href="" class="exam-info__link">
                                порядок проведения экзаменов
                                <i>
                                    <svg width="19" height="18" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0 9L18 9" stroke="white"/>
                                        <path d="M10 1L18 9L10 17" stroke="white"/>
                                    </svg>                                        
                                </i>
                            </a>
                        </div>
                    </div>
                    <div class="exam-info__right">
                        <p class="exam-info__txt">
                            Сегодня наличие сертификата международного образца, подтверждающего уровень владения языком, играет очень значимую роль. Они являются важным дополнением при поступлении в ВУЗ или на работу в крупную компанию
                        </p>
                        <p class="exam-info__txt">
                            Анкеты участников отправляются в Китай для регистрации. Задания для проведения экзамена доставляются в центр тестирования в запечатанном конверте из Китая и впервые открываются председателем комиссии перед участниками в аудитории. Далее работы участников вновь отсылаются в Китай для проверки. По результатам тестирования из Китая приходят соответствующие международные сертификаты
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="daily">
            <div class="container">
                <div class="daily__header">
                    <h2 class="daily__title">
                        Расписание ближайших экзаменов
                    </h2>
                    <a href="" class="daily__link">
                        всё расписание
                        <i>
                            <svg width="19" height="18" viewBox="0 0 19 18" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 9L18 9" stroke="white" />
                                <path d="M10 1L18 9L10 17" stroke="white" />
                            </svg>
                        </i>
                    </a>
                </div>
                <div class="daily__table">
                    <div class="daily__table-row daily__table-row_head">
                        <div class="daily__table-group">
                            <div class="daily__table-col daily__table-col_1">
                                <span>
                                    Дата
                                </span>
                            </div>
                            <div class="daily__table-col daily__table-col_2">
                                <span>
                                    Название
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="daily__table-row daily__table-row_content">
                        <div class="daily__table-group">
                            <div class="daily__table-col daily__table-col_1">
                                <span>
                                    23 апреля <br>
                                    2022 <span>(15:30)</span>
                                </span>
                            </div>
                            <div class="daily__table-col daily__table-col_2">
                                <h3>
                                    Экзамен HSK
                                </h3>
                                <p>
                                    HSK (1 уровнь)
                                </p>
                            </div>
                        </div>
                        <div class="daily__table-icon">
                            <a href="#" class="daily__table-next">
                                <svg width="77" height="42" viewBox="0 0 77 42" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0 21L75 21" stroke="#E58E8E" stroke-width="2" />
                                    <path d="M55 1L75 21L55 41" stroke="#E58E8E" stroke-width="2" />
                                </svg>
                            </a>
                            <i class="daily__table-more">
                                <svg width="42" height="23" viewBox="0 0 42 23" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M41 1L21 21L0.999999 0.999998" stroke="#F4E8DD" stroke-width="2" />
                                </svg>
                            </i>
                        </div>
                    </div>
                    <div class="daily__table-row daily__table-row_content">
                        <div class="daily__table-group">
                            <div class="daily__table-col daily__table-col_1">
                                <span>
                                    23 апреля <br>
                                    2022 <span>(15:30)</span>
                                </span>
                            </div>
                            <div class="daily__table-col daily__table-col_2">
                                <h3>
                                    Экзамен HSK
                                </h3>
                                <p>
                                    HSK (1 уровнь)
                                </p>
                            </div>
                        </div>
                        <div class="daily__table-icon">
                            <a href="#" class="daily__table-next">
                                <svg width="77" height="42" viewBox="0 0 77 42" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0 21L75 21" stroke="#E58E8E" stroke-width="2" />
                                    <path d="M55 1L75 21L55 41" stroke="#E58E8E" stroke-width="2" />
                                </svg>
                            </a>
                            <i class="daily__table-more">
                                <svg width="42" height="23" viewBox="0 0 42 23" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M41 1L21 21L0.999999 0.999998" stroke="#F4E8DD" stroke-width="2" />
                                </svg>
                            </i>
                        </div>
                    </div>
                    <div class="daily__table-row daily__table-row_content">
                        <div class="daily__table-group">
                            <div class="daily__table-col daily__table-col_1">
                                <span>
                                    23 апреля <br>
                                    2022 <span>(15:30)</span>
                                </span>
                            </div>
                            <div class="daily__table-col daily__table-col_2">
                                <h3>
                                    Экзамен HSK
                                </h3>
                                <p>
                                    HSK (1 уровнь)
                                </p>
                            </div>
                        </div>
                        <div class="daily__table-icon">
                            <a href="#" class="daily__table-next">
                                <svg width="77" height="42" viewBox="0 0 77 42" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0 21L75 21" stroke="#E58E8E" stroke-width="2" />
                                    <path d="M55 1L75 21L55 41" stroke="#E58E8E" stroke-width="2" />
                                </svg>
                            </a>
                            <i class="daily__table-more">
                                <svg width="42" height="23" viewBox="0 0 42 23" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M41 1L21 21L0.999999 0.999998" stroke="#F4E8DD" stroke-width="2" />
                                </svg>
                            </i>
                        </div>
                    </div>
                    <div class="daily__table-row daily__table-row_content">
                        <div class="daily__table-group">
                            <div class="daily__table-col daily__table-col_1">
                                <span>
                                    23 апреля <br>
                                    2022 <span>(15:30)</span>
                                </span>
                            </div>
                            <div class="daily__table-col daily__table-col_2">
                                <h3>
                                    Экзамен HSK
                                </h3>
                                <p>
                                    HSK (1 уровнь)
                                </p>
                            </div>
                        </div>
                        <div class="daily__table-icon">
                            <a href="#" class="daily__table-next">
                                <svg width="77" height="42" viewBox="0 0 77 42" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0 21L75 21" stroke="#E58E8E" stroke-width="2" />
                                    <path d="M55 1L75 21L55 41" stroke="#E58E8E" stroke-width="2" />
                                </svg>
                            </a>
                            <i class="daily__table-more">
                                <svg width="42" height="23" viewBox="0 0 42 23" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M41 1L21 21L0.999999 0.999998" stroke="#F4E8DD" stroke-width="2" />
                                </svg>
                            </i>
                        </div>
                    </div>
                    <div class="daily__table-row daily__table-row_content">
                        <div class="daily__table-group">
                            <div class="daily__table-col daily__table-col_1">
                                <span>
                                    23 апреля <br>
                                    2022 <span>(15:30)</span>
                                </span>
                            </div>
                            <div class="daily__table-col daily__table-col_2">
                                <h3>
                                    Экзамен HSK
                                </h3>
                                <p>
                                    HSK (1 уровнь)
                                </p>
                            </div>
                        </div>
                        <div class="daily__table-icon">
                            <a href="#" class="daily__table-next">
                                <svg width="77" height="42" viewBox="0 0 77 42" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0 21L75 21" stroke="#E58E8E" stroke-width="2" />
                                    <path d="M55 1L75 21L55 41" stroke="#E58E8E" stroke-width="2" />
                                </svg>
                            </a>
                            <i class="daily__table-more">
                                <svg width="42" height="23" viewBox="0 0 42 23" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M41 1L21 21L0.999999 0.999998" stroke="#F4E8DD" stroke-width="2" />
                                </svg>
                            </i>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="blog blog_exam">
            <div class="container">
                <div class="blog__header">
                    <h2 class="blog__title">
                        Последние новости
                    </h2>
                    <a href="" class="blog__link">
                        Все новости
                        <i>
                            <svg width="19" height="18" viewBox="0 0 19 18" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 9L18 9" stroke="white" />
                                <path d="M10 1L18 9L10 17" stroke="white" />
                            </svg>
                        </i>
                    </a>
                </div>
                <div class="blog__wrapper">
                    <a href="" class="blog__item">
                        <div class="blog__item-group">
                            <span class="blog__item-date">
                                5 марта <span>2022</span>
                            </span>
                            <p class="blog__item-txt">
                                Торжественная церемония открытия проекта «профессиональное развитие учителя китайского
                                языка»
                            </p>
                        </div>
                        <div class="blog__item-img">
                            <img src="<%=require('@img/events-1.png') %>" alt="">
                        </div>
                        <div class="blog__item-icon">
                            <svg width="77" height="42" viewBox="0 0 77 42" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 21L75 21" stroke="#F4E8DD" stroke-width="2" />
                                <path d="M55 1L75 21L55 41" stroke="#F4E8DD" stroke-width="2" />
                            </svg>
                        </div>
                    </a>
                    <a href="" class="blog__item">
                        <div class="blog__item-group">
                            <span class="blog__item-date">
                                5 марта <span>2022</span>
                            </span>
                            <p class="blog__item-txt">
                                Конкурс! Победителям дарим 3 бесплатных урока китайского языка в Школе "Конфуций"
                            </p>
                        </div>
                        <div class="blog__item-img">
                            <img src="<%=require('@img/events-2.png') %>" alt="">
                        </div>
                        <div class="blog__item-icon">
                            <svg width="77" height="42" viewBox="0 0 77 42" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 21L75 21" stroke="#F4E8DD" stroke-width="2" />
                                <path d="M55 1L75 21L55 41" stroke="#F4E8DD" stroke-width="2" />
                            </svg>
                        </div>
                    </a>
                    <a href="" class="blog__item">
                        <div class="blog__item-group">
                            <span class="blog__item-date">
                                5 марта <span>2022</span>
                            </span>
                            <p class="blog__item-txt">
                                Всемирный день Китайского языка
                            </p>
                        </div>
                        <div class="blog__item-img">
                            <img src="<%=require('@img/events-3.png') %>" alt="">
                        </div>
                        <div class="blog__item-icon">
                            <svg width="77" height="42" viewBox="0 0 77 42" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 21L75 21" stroke="#F4E8DD" stroke-width="2" />
                                <path d="M55 1L75 21L55 41" stroke="#F4E8DD" stroke-width="2" />
                            </svg>
                        </div>
                    </a>
                    <a href="" class="blog__item">
                        <div class="blog__item-group">
                            <span class="blog__item-date">
                                5 марта <span>2022</span>
                            </span>
                            <p class="blog__item-txt">
                                Конкурс! Победителям дарим 3 бесплатных урока китайского языка в Школе "Конфуций"
                            </p>
                        </div>
                        <div class="blog__item-img">
                            <img src="<%=require('@img/events-4.png') %>" alt="">
                        </div>
                        <div class="blog__item-icon">
                            <svg width="77" height="42" viewBox="0 0 77 42" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 21L75 21" stroke="#F4E8DD" stroke-width="2" />
                                <path d="M55 1L75 21L55 41" stroke="#F4E8DD" stroke-width="2" />
                            </svg>
                        </div>
                    </a>
                </div>
            </div>
        </section>
    </div>
</main>

<%= require('@parts/footer.ejs')() %>