<%= require('@parts/header.ejs')({title: 'header_unfilled' }) %>

<main class="homepage" id="root">
    <section class="hsk">
            <div class="hsk__header hsk-header camp-header">
                <div class="container">
                    <div class="breadcrumbs">
                        <a href="">Главная</a>
                        <span>
                            Блог
                        </span>
                    </div>
                    <div class="hsk-header__row">
                        <div class="hsk-header__content">
                            <h2 class="hsk-header__title">
                                Международный экзамен HSK
                            </h2>
                            <p class="hsk-header__txt">
                                China`s Hanyu Shuiping Kaoshi (“汉语水平考试”), также известный как HSK или Chinese Proficiency Test – это международный квалификационный экзамен по китайскому языку. Экзамен предназначен для лиц, не являющихся носителями китайского.
                            </p>
                        </div>
                        <div class="hsk-header__info">
                            <p class="hsk-header__info-item">
                                Экзамен HSK проводится во многих странах мира в установленное время, под контролем и при участии представителей дипломатических миссий КНР
                            </p>
                            <p class="hsk-header__info-item">
                                Сертификат успешно сдавшего квалификационный экзамен HSK является международным документом государственного образца Министерства образования КНР, получившим признание во многих странах мира
                            </p>
                        </div>
                    </div>
                    <div class="camp__gallery camp-gallery">
                        <div class="camp-gallery__row">
                            <div class="camp-gallery__item">
                                <img src="<%=require('@img/camp-1.png') %>" alt="">
                            </div>
                            <div class="camp-gallery__item">
                                <img src="<%=require('@img/camp-2.png') %>" alt="">
                            </div>
                            <div class="camp-gallery__item">
                                <img src="<%=require('@img/camp-3.png') %>" alt="">
                            </div>
                            <div class="camp-gallery__item">
                                <img src="<%=require('@img/camp-4.png') %>" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="container">
            <div class="hsk-about hsk__about">
                <h2 class="hsk-about__title">
                    Об экзамене HSK
                </h2>
                <div class="hsk-about__group">
                    <div class="hsk-about__col">
                        <p class="hsk-about__txt">
                            Тест был разработан Beijing Language and Culture University для выявления уровня знания китайского языка, оценки навыков использования китайского языка в жизненных, учебных и рабочих ситуациях и применяется с 1992 года
                        </p>
                        <p class="hsk-about__txt">
                            Экзамен HSK проводится во многих странах мира в установленное время, под контролем и при участии представителей дипломатических миссий КНР.
                        </p>
                    </div>
                    <div class="hsk-about__col">
                        <p class="hsk-about__txt">
                            Письменный экзамен подразделяется на шесть уровней (HSK 1-6). Проводится в форме теста, задания в котором делятся на несколько частей: аудирование, лексика, чтение, сочинение (письмо). Для успешного прохождения экзамена необходимо правильно ответить как минимум на 60 % вопросов
                        </p>
                    </div>
                </div>
                <div class="hsk-about__row">
                    <div class="hsk-about__window hsk-about__window_1">
                        <h3 class="hsk-about__window-title">
                            Время проведения:
                        </h3>
                        <p class="hsk-about__window-lvl">
                            <strong>1 уровень</strong> - словарный запас 150 слов - 40 минут
                        </p>
                        <p class="hsk-about__window-lvl">
                            <strong>2 уровень</strong> - словарный запас 300 слов - 55 минут
                        </p>
                        <p class="hsk-about__window-lvl">
                            <strong>3 уровень</strong> - словарный запас 600 слов - 1 час 30 минут
                        </p>
                        <p class="hsk-about__window-lvl">
                            <strong>4 уровень</strong> - словарный запас 1200 слов - 1 час 45 минут
                        </p>
                        <p class="hsk-about__window-lvl">
                            <strong>5 уровень</strong> - словарный запас 2500 слов - 2 час 05 минут
                        </p>
                        <p class="hsk-about__window-lvl">
                            <strong>6 уровень</strong> - словарный запас 5000 слов - 2 час 20 минут
                        </p>
                    </div>
                    <div class="hsk-about__window hsk-about__window_2">
                        <h3 class="hsk-about__window-title">
                            Проходной балл:
                        </h3>
                        <p class="hsk-about__window-lvl">
                            <strong>1 уровень</strong> - 120 баллов из 200
                        </p>
                        <p class="hsk-about__window-lvl">
                            <strong>2 уровень</strong> - 120 баллов из 200
                        </p>
                        <p class="hsk-about__window-lvl">
                            <strong>3 уровень</strong> - 180 баллов из 300
                        </p>
                        <p class="hsk-about__window-lvl">
                            <strong>4 уровень</strong>- 180 баллов из 300
                        </p>
                        <p class="hsk-about__window-lvl">
                            <strong>5 уровень</strong> - 180 баллов из 300
                        </p>
                        <p class="hsk-about__window-lvl">
                            <strong>6 уровень</strong> - 180 баллов из 300
                        </p>
                    </div>
                </div>
                <p class="hsk-about__strongtxt">
                    Сертификат успешно сдавшего квалификационный экзамен HSK является международным документом государственного образца Министерства образования КНР, получившим признание во многих странах мира. Он дает следующие возможности:
                </p>
                <ul class="hsk-about__list">
                    <li>
                        Прохождение языковых стажировок сроком 1 месяц, 1 семестр, 1 год по стипендиальному фонду Центра языкового образования и сотрудничества При Министерстве Образования КНР (ранее - Китайская канцелярия Ханьбань) ;
                    </li>
                    <li>
                        Поступление в Вузы КНР по программам бакалавриата, магистратуры и аспирантуры без подготовительных курсов;
                    </li>
                    <li>
                        Является рекомендацией при приеме на работу и при прохождении повышения квалификации, учитывается в кадровой политике учреждений, предприятий и организаций, заинтересованных в специалистах со знанием классического китайского языка.
                    </li>
                </ul>
                <p class="hsk-about__strongtxt">
                    Ниже Вы можете скачать информационную книгу об экзамене. В ней можно познакомиться с образцом экзаменационного билета, экзаменационным бланком ответов, требованиям по времени, необходимые слова и грамматику для сдачи экзамена и т.д.
                </p>
                <div class="hsk-about__files">
                    <div class="hsk-about__files-item">
                        <div class="hsk-about__files-icon">
                            <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_157_2073)">
                                <path d="M30.7617 48H1.46484C0.655176 48 0 47.3448 0 46.5352V5.51953C0 4.70986 0.655176 4.05469 1.46484 4.05469H19.043C19.8526 4.05469 20.5078 4.70986 20.5078 5.51953V39.2109H30.7617C31.5714 39.2109 32.2266 39.8661 32.2266 40.6758V46.5352C32.2266 47.3448 31.5714 48 30.7617 48Z" fill="url(#paint0_linear_157_2073)"/>
                                <path d="M38.2812 9.71875L36.8164 -2H19.2383C18.4179 -2 17.7734 -1.35557 17.7734 -0.535156V40.4805C17.7734 41.3009 18.4179 41.9453 19.2383 41.9453H48.5352C49.3556 41.9453 50 41.3009 50 40.4805V11.1836L38.2812 9.71875Z" fill="url(#paint1_linear_157_2073)"/>
                                <path d="M38.2812 11.1836H50C50 10.8027 49.8535 10.4219 49.5604 10.1583L37.8417 -1.56045C37.5781 -1.85352 37.1973 -2 36.8164 -2V9.71875C36.8164 10.5277 37.4723 11.1836 38.2812 11.1836ZM42.6758 18.5078H25.0977C24.288 18.5078 23.6328 19.163 23.6328 19.9727C23.6328 20.7823 24.288 21.4375 25.0977 21.4375H42.6758C43.4854 21.4375 44.1406 20.7823 44.1406 19.9727C44.1406 19.163 43.4854 18.5078 42.6758 18.5078ZM42.6758 27.2969H25.0977C24.288 27.2969 23.6328 27.9521 23.6328 28.7617C23.6328 29.5714 24.288 30.2266 25.0977 30.2266H42.6758C43.4854 30.2266 44.1406 29.5714 44.1406 28.7617C44.1406 27.9521 43.4854 27.2969 42.6758 27.2969Z" fill="url(#paint2_linear_157_2073)"/>
                                </g>
                                <defs>
                                <linearGradient id="paint0_linear_157_2073" x1="16.1133" y1="48" x2="16.1133" y2="4.05469" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#FECFCF"/>
                                <stop offset="1" stop-color="#FFCFCF"/>
                                </linearGradient>
                                <linearGradient id="paint1_linear_157_2073" x1="33.8867" y1="41.9453" x2="33.8867" y2="-2" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#CB6B6B"/>
                                <stop offset="1" stop-color="#E58E8E"/>
                                </linearGradient>
                                <linearGradient id="paint2_linear_157_2073" x1="36.8164" y1="30.2266" x2="36.8164" y2="-2" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#FFD1D1"/>
                                <stop offset="1" stop-color="#F2ABAB"/>
                                </linearGradient>
                                <clipPath id="clip0_157_2073">
                                <rect width="50" height="50" fill="white"/>
                                </clipPath>
                                </defs>
                            </svg>                                
                        </div>
                        <div class="hsk-about__files-content">
                            <p class="hsk-about__files-txt">
                                HSK 1
                            </p>
                            <a href="" class="hsk-about__files-download">
                                Скачать
                            </a>
                        </div>
                    </div>
                    <div class="hsk-about__files-item">
                        <div class="hsk-about__files-icon">
                            <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_157_2073)">
                                <path d="M30.7617 48H1.46484C0.655176 48 0 47.3448 0 46.5352V5.51953C0 4.70986 0.655176 4.05469 1.46484 4.05469H19.043C19.8526 4.05469 20.5078 4.70986 20.5078 5.51953V39.2109H30.7617C31.5714 39.2109 32.2266 39.8661 32.2266 40.6758V46.5352C32.2266 47.3448 31.5714 48 30.7617 48Z" fill="url(#paint0_linear_157_2073)"/>
                                <path d="M38.2812 9.71875L36.8164 -2H19.2383C18.4179 -2 17.7734 -1.35557 17.7734 -0.535156V40.4805C17.7734 41.3009 18.4179 41.9453 19.2383 41.9453H48.5352C49.3556 41.9453 50 41.3009 50 40.4805V11.1836L38.2812 9.71875Z" fill="url(#paint1_linear_157_2073)"/>
                                <path d="M38.2812 11.1836H50C50 10.8027 49.8535 10.4219 49.5604 10.1583L37.8417 -1.56045C37.5781 -1.85352 37.1973 -2 36.8164 -2V9.71875C36.8164 10.5277 37.4723 11.1836 38.2812 11.1836ZM42.6758 18.5078H25.0977C24.288 18.5078 23.6328 19.163 23.6328 19.9727C23.6328 20.7823 24.288 21.4375 25.0977 21.4375H42.6758C43.4854 21.4375 44.1406 20.7823 44.1406 19.9727C44.1406 19.163 43.4854 18.5078 42.6758 18.5078ZM42.6758 27.2969H25.0977C24.288 27.2969 23.6328 27.9521 23.6328 28.7617C23.6328 29.5714 24.288 30.2266 25.0977 30.2266H42.6758C43.4854 30.2266 44.1406 29.5714 44.1406 28.7617C44.1406 27.9521 43.4854 27.2969 42.6758 27.2969Z" fill="url(#paint2_linear_157_2073)"/>
                                </g>
                                <defs>
                                <linearGradient id="paint0_linear_157_2073" x1="16.1133" y1="48" x2="16.1133" y2="4.05469" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#FECFCF"/>
                                <stop offset="1" stop-color="#FFCFCF"/>
                                </linearGradient>
                                <linearGradient id="paint1_linear_157_2073" x1="33.8867" y1="41.9453" x2="33.8867" y2="-2" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#CB6B6B"/>
                                <stop offset="1" stop-color="#E58E8E"/>
                                </linearGradient>
                                <linearGradient id="paint2_linear_157_2073" x1="36.8164" y1="30.2266" x2="36.8164" y2="-2" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#FFD1D1"/>
                                <stop offset="1" stop-color="#F2ABAB"/>
                                </linearGradient>
                                <clipPath id="clip0_157_2073">
                                <rect width="50" height="50" fill="white"/>
                                </clipPath>
                                </defs>
                            </svg>                                
                        </div>
                        <div class="hsk-about__files-content">
                            <p class="hsk-about__files-txt">
                                HSK 1
                            </p>
                            <a href="" class="hsk-about__files-download">
                                Скачать
                            </a>
                        </div>
                    </div>
                    <div class="hsk-about__files-item">
                        <div class="hsk-about__files-icon">
                            <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_157_2073)">
                                <path d="M30.7617 48H1.46484C0.655176 48 0 47.3448 0 46.5352V5.51953C0 4.70986 0.655176 4.05469 1.46484 4.05469H19.043C19.8526 4.05469 20.5078 4.70986 20.5078 5.51953V39.2109H30.7617C31.5714 39.2109 32.2266 39.8661 32.2266 40.6758V46.5352C32.2266 47.3448 31.5714 48 30.7617 48Z" fill="url(#paint0_linear_157_2073)"/>
                                <path d="M38.2812 9.71875L36.8164 -2H19.2383C18.4179 -2 17.7734 -1.35557 17.7734 -0.535156V40.4805C17.7734 41.3009 18.4179 41.9453 19.2383 41.9453H48.5352C49.3556 41.9453 50 41.3009 50 40.4805V11.1836L38.2812 9.71875Z" fill="url(#paint1_linear_157_2073)"/>
                                <path d="M38.2812 11.1836H50C50 10.8027 49.8535 10.4219 49.5604 10.1583L37.8417 -1.56045C37.5781 -1.85352 37.1973 -2 36.8164 -2V9.71875C36.8164 10.5277 37.4723 11.1836 38.2812 11.1836ZM42.6758 18.5078H25.0977C24.288 18.5078 23.6328 19.163 23.6328 19.9727C23.6328 20.7823 24.288 21.4375 25.0977 21.4375H42.6758C43.4854 21.4375 44.1406 20.7823 44.1406 19.9727C44.1406 19.163 43.4854 18.5078 42.6758 18.5078ZM42.6758 27.2969H25.0977C24.288 27.2969 23.6328 27.9521 23.6328 28.7617C23.6328 29.5714 24.288 30.2266 25.0977 30.2266H42.6758C43.4854 30.2266 44.1406 29.5714 44.1406 28.7617C44.1406 27.9521 43.4854 27.2969 42.6758 27.2969Z" fill="url(#paint2_linear_157_2073)"/>
                                </g>
                                <defs>
                                <linearGradient id="paint0_linear_157_2073" x1="16.1133" y1="48" x2="16.1133" y2="4.05469" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#FECFCF"/>
                                <stop offset="1" stop-color="#FFCFCF"/>
                                </linearGradient>
                                <linearGradient id="paint1_linear_157_2073" x1="33.8867" y1="41.9453" x2="33.8867" y2="-2" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#CB6B6B"/>
                                <stop offset="1" stop-color="#E58E8E"/>
                                </linearGradient>
                                <linearGradient id="paint2_linear_157_2073" x1="36.8164" y1="30.2266" x2="36.8164" y2="-2" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#FFD1D1"/>
                                <stop offset="1" stop-color="#F2ABAB"/>
                                </linearGradient>
                                <clipPath id="clip0_157_2073">
                                <rect width="50" height="50" fill="white"/>
                                </clipPath>
                                </defs>
                            </svg>                                
                        </div>
                        <div class="hsk-about__files-content">
                            <p class="hsk-about__files-txt">
                                HSK 1
                            </p>
                            <a href="" class="hsk-about__files-download">
                                Скачать
                            </a>
                        </div>
                    </div>
                    <div class="hsk-about__files-item">
                        <div class="hsk-about__files-icon">
                            <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_157_2073)">
                                <path d="M30.7617 48H1.46484C0.655176 48 0 47.3448 0 46.5352V5.51953C0 4.70986 0.655176 4.05469 1.46484 4.05469H19.043C19.8526 4.05469 20.5078 4.70986 20.5078 5.51953V39.2109H30.7617C31.5714 39.2109 32.2266 39.8661 32.2266 40.6758V46.5352C32.2266 47.3448 31.5714 48 30.7617 48Z" fill="url(#paint0_linear_157_2073)"/>
                                <path d="M38.2812 9.71875L36.8164 -2H19.2383C18.4179 -2 17.7734 -1.35557 17.7734 -0.535156V40.4805C17.7734 41.3009 18.4179 41.9453 19.2383 41.9453H48.5352C49.3556 41.9453 50 41.3009 50 40.4805V11.1836L38.2812 9.71875Z" fill="url(#paint1_linear_157_2073)"/>
                                <path d="M38.2812 11.1836H50C50 10.8027 49.8535 10.4219 49.5604 10.1583L37.8417 -1.56045C37.5781 -1.85352 37.1973 -2 36.8164 -2V9.71875C36.8164 10.5277 37.4723 11.1836 38.2812 11.1836ZM42.6758 18.5078H25.0977C24.288 18.5078 23.6328 19.163 23.6328 19.9727C23.6328 20.7823 24.288 21.4375 25.0977 21.4375H42.6758C43.4854 21.4375 44.1406 20.7823 44.1406 19.9727C44.1406 19.163 43.4854 18.5078 42.6758 18.5078ZM42.6758 27.2969H25.0977C24.288 27.2969 23.6328 27.9521 23.6328 28.7617C23.6328 29.5714 24.288 30.2266 25.0977 30.2266H42.6758C43.4854 30.2266 44.1406 29.5714 44.1406 28.7617C44.1406 27.9521 43.4854 27.2969 42.6758 27.2969Z" fill="url(#paint2_linear_157_2073)"/>
                                </g>
                                <defs>
                                <linearGradient id="paint0_linear_157_2073" x1="16.1133" y1="48" x2="16.1133" y2="4.05469" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#FECFCF"/>
                                <stop offset="1" stop-color="#FFCFCF"/>
                                </linearGradient>
                                <linearGradient id="paint1_linear_157_2073" x1="33.8867" y1="41.9453" x2="33.8867" y2="-2" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#CB6B6B"/>
                                <stop offset="1" stop-color="#E58E8E"/>
                                </linearGradient>
                                <linearGradient id="paint2_linear_157_2073" x1="36.8164" y1="30.2266" x2="36.8164" y2="-2" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#FFD1D1"/>
                                <stop offset="1" stop-color="#F2ABAB"/>
                                </linearGradient>
                                <clipPath id="clip0_157_2073">
                                <rect width="50" height="50" fill="white"/>
                                </clipPath>
                                </defs>
                            </svg>                                
                        </div>
                        <div class="hsk-about__files-content">
                            <p class="hsk-about__files-txt">
                                HSK 1
                            </p>
                            <a href="" class="hsk-about__files-download">
                                Скачать
                            </a>
                        </div>
                    </div>
                    <div class="hsk-about__files-item">
                        <div class="hsk-about__files-icon">
                            <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_157_2073)">
                                <path d="M30.7617 48H1.46484C0.655176 48 0 47.3448 0 46.5352V5.51953C0 4.70986 0.655176 4.05469 1.46484 4.05469H19.043C19.8526 4.05469 20.5078 4.70986 20.5078 5.51953V39.2109H30.7617C31.5714 39.2109 32.2266 39.8661 32.2266 40.6758V46.5352C32.2266 47.3448 31.5714 48 30.7617 48Z" fill="url(#paint0_linear_157_2073)"/>
                                <path d="M38.2812 9.71875L36.8164 -2H19.2383C18.4179 -2 17.7734 -1.35557 17.7734 -0.535156V40.4805C17.7734 41.3009 18.4179 41.9453 19.2383 41.9453H48.5352C49.3556 41.9453 50 41.3009 50 40.4805V11.1836L38.2812 9.71875Z" fill="url(#paint1_linear_157_2073)"/>
                                <path d="M38.2812 11.1836H50C50 10.8027 49.8535 10.4219 49.5604 10.1583L37.8417 -1.56045C37.5781 -1.85352 37.1973 -2 36.8164 -2V9.71875C36.8164 10.5277 37.4723 11.1836 38.2812 11.1836ZM42.6758 18.5078H25.0977C24.288 18.5078 23.6328 19.163 23.6328 19.9727C23.6328 20.7823 24.288 21.4375 25.0977 21.4375H42.6758C43.4854 21.4375 44.1406 20.7823 44.1406 19.9727C44.1406 19.163 43.4854 18.5078 42.6758 18.5078ZM42.6758 27.2969H25.0977C24.288 27.2969 23.6328 27.9521 23.6328 28.7617C23.6328 29.5714 24.288 30.2266 25.0977 30.2266H42.6758C43.4854 30.2266 44.1406 29.5714 44.1406 28.7617C44.1406 27.9521 43.4854 27.2969 42.6758 27.2969Z" fill="url(#paint2_linear_157_2073)"/>
                                </g>
                                <defs>
                                <linearGradient id="paint0_linear_157_2073" x1="16.1133" y1="48" x2="16.1133" y2="4.05469" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#FECFCF"/>
                                <stop offset="1" stop-color="#FFCFCF"/>
                                </linearGradient>
                                <linearGradient id="paint1_linear_157_2073" x1="33.8867" y1="41.9453" x2="33.8867" y2="-2" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#CB6B6B"/>
                                <stop offset="1" stop-color="#E58E8E"/>
                                </linearGradient>
                                <linearGradient id="paint2_linear_157_2073" x1="36.8164" y1="30.2266" x2="36.8164" y2="-2" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#FFD1D1"/>
                                <stop offset="1" stop-color="#F2ABAB"/>
                                </linearGradient>
                                <clipPath id="clip0_157_2073">
                                <rect width="50" height="50" fill="white"/>
                                </clipPath>
                                </defs>
                            </svg>                                
                        </div>
                        <div class="hsk-about__files-content">
                            <p class="hsk-about__files-txt">
                                HSK 1
                            </p>
                            <a href="" class="hsk-about__files-download">
                                Скачать
                            </a>
                        </div>
                    </div>
                    <div class="hsk-about__files-item">
                        <div class="hsk-about__files-icon">
                            <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_157_2073)">
                                <path d="M30.7617 48H1.46484C0.655176 48 0 47.3448 0 46.5352V5.51953C0 4.70986 0.655176 4.05469 1.46484 4.05469H19.043C19.8526 4.05469 20.5078 4.70986 20.5078 5.51953V39.2109H30.7617C31.5714 39.2109 32.2266 39.8661 32.2266 40.6758V46.5352C32.2266 47.3448 31.5714 48 30.7617 48Z" fill="url(#paint0_linear_157_2073)"/>
                                <path d="M38.2812 9.71875L36.8164 -2H19.2383C18.4179 -2 17.7734 -1.35557 17.7734 -0.535156V40.4805C17.7734 41.3009 18.4179 41.9453 19.2383 41.9453H48.5352C49.3556 41.9453 50 41.3009 50 40.4805V11.1836L38.2812 9.71875Z" fill="url(#paint1_linear_157_2073)"/>
                                <path d="M38.2812 11.1836H50C50 10.8027 49.8535 10.4219 49.5604 10.1583L37.8417 -1.56045C37.5781 -1.85352 37.1973 -2 36.8164 -2V9.71875C36.8164 10.5277 37.4723 11.1836 38.2812 11.1836ZM42.6758 18.5078H25.0977C24.288 18.5078 23.6328 19.163 23.6328 19.9727C23.6328 20.7823 24.288 21.4375 25.0977 21.4375H42.6758C43.4854 21.4375 44.1406 20.7823 44.1406 19.9727C44.1406 19.163 43.4854 18.5078 42.6758 18.5078ZM42.6758 27.2969H25.0977C24.288 27.2969 23.6328 27.9521 23.6328 28.7617C23.6328 29.5714 24.288 30.2266 25.0977 30.2266H42.6758C43.4854 30.2266 44.1406 29.5714 44.1406 28.7617C44.1406 27.9521 43.4854 27.2969 42.6758 27.2969Z" fill="url(#paint2_linear_157_2073)"/>
                                </g>
                                <defs>
                                <linearGradient id="paint0_linear_157_2073" x1="16.1133" y1="48" x2="16.1133" y2="4.05469" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#FECFCF"/>
                                <stop offset="1" stop-color="#FFCFCF"/>
                                </linearGradient>
                                <linearGradient id="paint1_linear_157_2073" x1="33.8867" y1="41.9453" x2="33.8867" y2="-2" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#CB6B6B"/>
                                <stop offset="1" stop-color="#E58E8E"/>
                                </linearGradient>
                                <linearGradient id="paint2_linear_157_2073" x1="36.8164" y1="30.2266" x2="36.8164" y2="-2" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#FFD1D1"/>
                                <stop offset="1" stop-color="#F2ABAB"/>
                                </linearGradient>
                                <clipPath id="clip0_157_2073">
                                <rect width="50" height="50" fill="white"/>
                                </clipPath>
                                </defs>
                            </svg>                                
                        </div>
                        <div class="hsk-about__files-content">
                            <p class="hsk-about__files-txt">
                                HSK 1
                            </p>
                            <a href="" class="hsk-about__files-download">
                                Скачать
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<%= require('@parts/footer.ejs')() %>