<%= require('@parts/header.ejs')({title: 'header_unfilled' }) %>

<main class="homepage" id="root">
    <div class="helpScroller"></div>
    <section class="first">
        <div class="container">
            <div class="first__wrapper">
                <div class="first__left">
                    <h1 class="first__title">
                        Акадения восточных языков и культуры <strong>«Конфуций»</strong>
                    </h1>
                    <p class="first__txt">
                        Академия работает с детьми от 8 лет и взрослыми. В центре обучаются школьники из 140 школ Санкт-Петербурга, студенты из 17-ти ВУЗов и взрослые. За время своего существования выпустила свыше 3000 учащихся.
                    </p>
                </div>
                <div class="first__right">
                    <ul class="first__nav">
                        <li><a href="" >
                            Курсы Китайского языка
                        </a></li>
                        <li><a href="">
                            Экзамены и сертификация
                        </a></li>
                        <li><a href="">
                            Обучение в Китае
                        </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="main-info">
        <div class="container">
            <div class="main-info__header">
                <h2 class="main-info__title">
                    Обучение в нашей академии имеет ряд преимуществ
                </h2>
                <a href="" class="main-info__more">
                    ПОдробнее об академии
                </a>
            </div>
            <div class="main-info__row">
                <div class="main-info__item">
                    <div class="main-info__item-shape">
                        <img src="<%=require('@img/main-info-shape.svg') %>" alt="">
                    </div>
                    <div class="main-info__item-bg">
                        <img src="<%=require('@img/main-info-bg.svg') %>" alt="">
                    </div>
                    <div class="main-info__item-bg1">
                        <img src="<%=require('@img/main-info-bg1.png') %>" alt="">
                    </div>
                    <div class="main-info__item-content">
                        <div class="main-info__item-wrapper">
                            <h4 class="main-info__item-title">
                                Прорабатываем <br> все аспекты
                            </h4>
                            <p class="main-info__item-txt">
                                С учениками школы преподаватели <br> прорабатывают фонетику,<br> иероглифику, грамматику и лексику <br> китайского языка
                            </p>
                        </div>
                    </div>
                </div>
                <div class="main-info__item">
                    <div class="main-info__item-shape">
                        <img src="<%=require('@img/main-info-shape.svg') %>" alt="">
                    </div>
                    <div class="main-info__item-bg">
                        <img src="<%=require('@img/main-info-bg.svg') %>" alt="">
                    </div>
                    <div class="main-info__item-bg1">
                        <img src="<%=require('@img/main-info-bg1.png') %>" alt="">
                    </div>
                    <div class="main-info__item-content">
                        <div class="main-info__item-wrapper">
                            <h4 class="main-info__item-title">
                                Преподаватели <br>
                                носители языка
                            </h4>
                            <p class="main-info__item-txt">
                                Преподаватели являются носителями языка и дают практические знания, <br> учат живому разговорному <br> китайскому языку
                            </p>
                        </div>
                    </div>
                </div>
                <div class="main-info__item">
                    <div class="main-info__item-shape">
                        <img src="<%=require('@img/main-info-shape.svg') %>" alt="">
                    </div>
                    <div class="main-info__item-bg">
                        <img src="<%=require('@img/main-info-bg.svg') %>" alt="">
                    </div>
                    <div class="main-info__item-bg1">
                        <img src="<%=require('@img/main-info-bg1.png') %>" alt="">
                    </div>
                    <div class="main-info__item-content">
                        <div class="main-info__item-wrapper">
                            <h4 class="main-info__item-title">
                                Удобный формат <br>
                                заняитй
                            </h4>
                            <p class="main-info__item-txt">
                                Онлайн или в классе. <br> Занятия проводятся в группе, <br>
мини-группе и индивидуально
                            </p>
                        </div>
                    </div>
                </div>
                <div class="main-info__item">
                    <div class="main-info__item-shape">
                        <img src="<%=require('@img/main-info-shape.svg') %>" alt="">
                    </div>
                    <div class="main-info__item-bg">
                        <img src="<%=require('@img/main-info-bg.svg') %>" alt="">
                    </div>
                    <div class="main-info__item-bg1">
                        <img src="<%=require('@img/main-info-bg1.png') %>" alt="">
                    </div>
                    <div class="main-info__item-content">
                        <div class="main-info__item-wrapper">
                            <h4 class="main-info__item-title">
                                Востребованная <br> профессия в <br> будущем
                            </h4>
                            <p class="main-info__item-txt">
                                Знание китайского языка является <br> большим плюсом для кандидатов на <br> множество высокооплачиваемых <br> вакансий по всему миру
                            </p>
                        </div>
                    </div>
                </div>
                <div class="main-info__item">
                    <div class="main-info__item-shape">
                        <img src="<%=require('@img/main-info-shape.svg') %>" alt="">
                    </div>
                    <div class="main-info__item-bg">
                        <img src="<%=require('@img/main-info-bg.svg') %>" alt="">
                    </div>
                    <div class="main-info__item-bg1">
                        <img src="<%=require('@img/main-info-bg1.png') %>" alt="">
                    </div>
                    <div class="main-info__item-content">
                        <div class="main-info__item-wrapper">
                            <h4 class="main-info__item-title">
                                Подготовка к <br> международным <br> экзаменам, ЕГЭ, <br> олимпиадам и конкурсам <br> по китайскому языку
                            </h4>
                            <p class="main-info__item-txt">
                                98% наших учеников успешно сдают <br> экзамены и занимают призовые <br> места на конкурсах
                            </p>
                        </div>
                    </div>
                </div>
                <div class="main-info__item">
                    <div class="main-info__item-shape">
                        <img src="<%=require('@img/main-info-shape.svg') %>" alt="">
                    </div>
                    <div class="main-info__item-bg">
                        <img src="<%=require('@img/main-info-bg.svg') %>" alt="">
                    </div>
                    <div class="main-info__item-bg1">
                        <img src="<%=require('@img/main-info-bg1.png') %>" alt="">
                    </div>
                    <div class="main-info__item-content">
                        <div class="main-info__item-wrapper">
                            <h4 class="main-info__item-title">
                                Тематические <br> мероприятия
                            </h4>
                            <p class="main-info__item-txt">
                                Школа проводит тематические <br> мероприятия для погружения в <br> культуру Китая
                            </p>
                        </div>
                    </div>
                </div>
                <div class="main-info__item">
                    <div class="main-info__item-shape">
                        <img src="<%=require('@img/main-info-shape.svg') %>" alt="">
                    </div>
                    <div class="main-info__item-bg">
                        <img src="<%=require('@img/main-info-bg.svg') %>" alt="">
                    </div>
                    <div class="main-info__item-bg1">
                        <img src="<%=require('@img/main-info-bg1.png') %>" alt="">
                    </div>
                    <div class="main-info__item-content">
                        <div class="main-info__item-wrapper">
                            <h4 class="main-info__item-title">
                                Гранты на обучение в <br> Китае для наших <br> учеников
                            </h4>
                            <p class="main-info__item-txt">
                                После 2 лет обучения можно получить <br> грант на обучение в Китае (на 1 месяц, <br> семестр, год, бакалавриат, <br> магистратура, аспирантура, <br> докторантура) 
                            </p>
                        </div>
                    </div>
                </div>
                <div class="main-info__item">
                    <div class="main-info__item-shape">
                        <img src="<%=require('@img/main-info-shape.svg') %>" alt="">
                    </div>
                    <div class="main-info__item-bg">
                        <img src="<%=require('@img/main-info-bg.svg') %>" alt="">
                    </div>
                    <div class="main-info__item-bg1">
                        <img src="<%=require('@img/main-info-bg1.png') %>" alt="">
                    </div>
                    <div class="main-info__item-content">
                        <div class="main-info__item-wrapper">
                            <h4 class="main-info__item-title">
                                Бесплатные <br> лингвистические <br> лагеря в Китае
                            </h4>
                            <p class="main-info__item-txt">
                                Наши ученики с хорошей успеваемостью <br> имеют возможность поехать в летний <br> лингвистический лагерь бесплатно
                            </p>
                        </div>
                    </div>
                </div>
                <div class="main-info__item">
                    <div class="main-info__item-shape">
                        <img src="<%=require('@img/main-info-shape.svg') %>" alt="">
                    </div>
                    <div class="main-info__item-bg">
                        <img src="<%=require('@img/main-info-bg.svg') %>" alt="">
                    </div>
                    <div class="main-info__item-bg1">
                        <img src="<%=require('@img/main-info-bg1.png') %>" alt="">
                    </div>
                    <div class="main-info__item-content">
                        <div class="main-info__item-wrapper">
                            <h4 class="main-info__item-title">
                                Сдача международных <br> экзаменов по китайскому <br> языку
                            </h4>
                            <p class="main-info__item-txt">
                                YCT, HSK, HSKK, ВСТ
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-info__video">
                <iframe width="100%" height="615" src="https://www.youtube.com/embed/XjLUuUvpEFU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <h3 class="main-info__activity-title">
                Деятельность академии «Конфуций» осуществляется при поддержке
            </h3>
            <div class="main-info__activity">
                <div class="main-info__activity-item">
                    <div class="main-info__activity-img">
                        <img src="<%=require('@img/activity-1.png') %>" alt="">
                    </div>
                    <p class="main-info__activity-txt">
                        Правительства
                        Санкт-Петербурга
                    </p>
                </div>
                <div class="main-info__activity-item">
                    <div class="main-info__activity-img">
                        <img src="<%=require('@img/activity-2.png') %>" alt="">
                    </div>
                    <p class="main-info__activity-txt">
                        Генерального консульства Китайской народной Республики в Санкт-Петербурге
                    </p>
                </div>
                <div class="main-info__activity-item">
                    <div class="main-info__activity-img">
                        <img src="<%=require('@img/activity-3.png') %>" alt="">
                    </div>
                    <p class="main-info__activity-txt">
                        Комитета по образованию
Санкт-Петербурга
                    </p>
                </div>
                <div class="main-info__activity-item">
                    <div class="main-info__activity-img">
                        <img src="<%=require('@img/activity-4.png') %>" alt="">
                    </div>
                    <p class="main-info__activity-txt">
                        Штаб-квартиры институтов Конфуция КНР
                    </p>
                </div>
                <div class="main-info__activity-item">
                    <div class="main-info__activity-img">
                        <img src="<%=require('@img/activity-5.png') %>" alt="">
                    </div>
                    <p class="main-info__activity-txt">
                        Шаньдуньского педагогического университета
                    </p>
                </div>
                <div class="main-info__activity-item">
                    <div class="main-info__activity-img">
                        <img src="<%=require('@img/activity-6.png') %>" alt="">
                    </div>
                    <p class="main-info__activity-txt">
                        Центра языкового образования и сотрудничества при Министерстве Образования КНР
                    </p>
                </div>
            </div>
            <div class="main-info__plane">
                <p class="main-info__plane-bold">
                    Ежегодно академия «Конфуций» организует для своих учеников Лингвистические каникулы в
                    Санкт-Петербурге и Китае.
                </p>
                <div class="main-info__plane-txt">
                    Так, в рамках этой программы ученики имеют возможность познакомиться с культурой Китая , посетив
                    такие города, как Пекин, Шанхай, Сиань, Далянь, Хайкоу, Ухань, Тяньцзин, Шэньян, Циндао, Динань (при
                    поддержке КНР)
                </div>
                <img src="<%=require('@img/plane.svg') %>" class="main-info__plane-img" alt="">
            </div>
        </div>
        <div class="gallery-block">
            <div class="gallery-block__wrapper">
                <div class="gallery-block__row">
                    <div class="gallery-block__item">
                        <img src="<%=require('@img/gallery-1.png') %>" alt="">
                    </div>
                    <div class="gallery-block__item">
                        <img src="<%=require('@img/gallery-2.png') %>" alt="">
                    </div>
                    <div class="gallery-block__item">
                        <img src="<%=require('@img/gallery-3.png') %>" alt="">
                    </div>
                    <div class="gallery-block__item">
                        <img src="<%=require('@img/gallery-4.png') %>" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="main-group">
        <div class="green-group">
            <section class="daily daily_green">
                <div class="container">
                    <div class="daily__header">
                        <h2 class="daily__title">
                            Расписание ближайших мероприятий
                        </h2>
                        <a href="" class="daily__link">
                            всё расписание
                            <i>
                                <svg width="19" height="18" viewBox="0 0 19 18" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0 9L18 9" stroke="white" />
                                    <path d="M10 1L18 9L10 17" stroke="white" />
                                </svg>
                            </i>
                        </a>
                    </div>
                    <div class="daily__table">
                        <div class="daily__table-row daily__table-row_head">
                            <div class="daily__table-group">
                                <div class="daily__table-col daily__table-col_1">
                                    <span>
                                        Дата
                                    </span>
                                </div>
                                <div class="daily__table-col daily__table-col_2">
                                    <span>
                                        Название
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="daily__table-row daily__table-row_content">
                            <div class="daily__table-group">
                                <div class="daily__table-col daily__table-col_1">
                                    <span>
                                        23 апреля <br>
                                        2022 <span>(15:30)</span>
                                    </span>
                                </div>
                                <div class="daily__table-col daily__table-col_2">
                                    <h3>
                                        Китайский для детей
                                    </h3>
                                    <p>
                                        А в декабре 2017 года на XII Съезде Институтов Конфуция в г. Сиань заместитель
                                        председателя Ханьбань Чжао Гуочжен вручает директору школы Хань Даньсин награду
                                    </p>
                                </div>
                            </div>
                            <div class="daily__table-icon">
                                <a href="#" class="daily__table-next">
                                    <svg width="77" height="42" viewBox="0 0 77 42" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0 21L75 21" stroke="#E58E8E" stroke-width="2" />
                                        <path d="M55 1L75 21L55 41" stroke="#E58E8E" stroke-width="2" />
                                    </svg>
                                </a>
                                <i class="daily__table-more">
                                    <svg width="42" height="23" viewBox="0 0 42 23" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M41 1L21 21L0.999999 0.999998" stroke="#F4E8DD" stroke-width="2" />
                                    </svg>
                                </i>
                            </div>
                        </div>
                        <div class="daily__table-row daily__table-row_content">
                            <div class="daily__table-group">
                                <div class="daily__table-col daily__table-col_1">
                                    <span>
                                        23 апреля <br>
                                        2022 <span>(15:30)</span>
                                    </span>
                                </div>
                                <div class="daily__table-col daily__table-col_2">
                                    <h3>
                                        Китайский для детей
                                    </h3>
                                    <p>
                                        А в декабре 2017 года на XII Съезде Институтов Конфуция в г. Сиань заместитель
                                        председателя Ханьбань Чжао Гуочжен вручает директору школы Хань Даньсин награду
                                    </p>
                                </div>
                            </div>
                            <div class="daily__table-icon">
                                <a href="#" class="daily__table-next">
                                    <svg width="77" height="42" viewBox="0 0 77 42" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0 21L75 21" stroke="#E58E8E" stroke-width="2" />
                                        <path d="M55 1L75 21L55 41" stroke="#E58E8E" stroke-width="2" />
                                    </svg>
                                </a>
                                <i class="daily__table-more">
                                    <svg width="42" height="23" viewBox="0 0 42 23" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M41 1L21 21L0.999999 0.999998" stroke="#F4E8DD" stroke-width="2" />
                                    </svg>
                                </i>
                            </div>
                        </div>
                        <div class="daily__table-row daily__table-row_content">
                            <div class="daily__table-group">
                                <div class="daily__table-col daily__table-col_1">
                                    <span>
                                        23 апреля <br>
                                        2022 <span>(15:30)</span>
                                    </span>
                                </div>
                                <div class="daily__table-col daily__table-col_2">
                                    <h3>
                                        Китайский для детей
                                    </h3>
                                    <p>
                                        А в декабре 2017 года на XII Съезде Институтов Конфуция в г. Сиань заместитель
                                        председателя Ханьбань Чжао Гуочжен вручает директору школы Хань Даньсин награду
                                    </p>
                                </div>
                            </div>
                            <div class="daily__table-icon">
                                <a href="#" class="daily__table-next">
                                    <svg width="77" height="42" viewBox="0 0 77 42" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0 21L75 21" stroke="#E58E8E" stroke-width="2" />
                                        <path d="M55 1L75 21L55 41" stroke="#E58E8E" stroke-width="2" />
                                    </svg>
                                </a>
                                <i class="daily__table-more">
                                    <svg width="42" height="23" viewBox="0 0 42 23" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M41 1L21 21L0.999999 0.999998" stroke="#F4E8DD" stroke-width="2" />
                                    </svg>
                                </i>
                            </div>
                        </div>
                        <div class="daily__table-row daily__table-row_content">
                            <div class="daily__table-group">
                                <div class="daily__table-col daily__table-col_1">
                                    <span>
                                        23 апреля <br>
                                        2022 <span>(15:30)</span>
                                    </span>
                                </div>
                                <div class="daily__table-col daily__table-col_2">
                                    <h3>
                                        Китайский для детей
                                    </h3>
                                    <p>
                                        А в декабре 2017 года на XII Съезде Институтов Конфуция в г. Сиань заместитель
                                        председателя Ханьбань Чжао Гуочжен вручает директору школы Хань Даньсин награду
                                    </p>
                                </div>
                            </div>
                            <div class="daily__table-icon">
                                <a href="#" class="daily__table-next">
                                    <svg width="77" height="42" viewBox="0 0 77 42" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0 21L75 21" stroke="#E58E8E" stroke-width="2" />
                                        <path d="M55 1L75 21L55 41" stroke="#E58E8E" stroke-width="2" />
                                    </svg>
                                </a>
                                <i class="daily__table-more">
                                    <svg width="42" height="23" viewBox="0 0 42 23" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M41 1L21 21L0.999999 0.999998" stroke="#F4E8DD" stroke-width="2" />
                                    </svg>
                                </i>
                            </div>
                        </div>
                        <div class="daily__table-row daily__table-row_content">
                            <div class="daily__table-group">
                                <div class="daily__table-col daily__table-col_1">
                                    <span>
                                        23 апреля <br>
                                        2022 <span>(15:30)</span>
                                    </span>
                                </div>
                                <div class="daily__table-col daily__table-col_2">
                                    <h3>
                                        Торжественная церемония открытия проекта «профессиональное развитие учителя
                                        китайского языка»
                                    </h3>
                                    <p>
                                        А в декабре 2017 года на XII Съезде Институтов Конфуция в г. Сиань заместитель
                                        председателя Ханьбань Чжао Гуочжен вручает директору школы Хань Даньсин награду
                                    </p>
                                </div>
                            </div>
                            <div class="daily__table-icon">
                                <a href="#" class="daily__table-next">
                                    <svg width="77" height="42" viewBox="0 0 77 42" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0 21L75 21" stroke="#E58E8E" stroke-width="2" />
                                        <path d="M55 1L75 21L55 41" stroke="#E58E8E" stroke-width="2" />
                                    </svg>
                                </a>
                                <i class="daily__table-more">
                                    <svg width="42" height="23" viewBox="0 0 42 23" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M41 1L21 21L0.999999 0.999998" stroke="#F4E8DD" stroke-width="2" />
                                    </svg>
                                </i>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="events events_green">
                <div class="container">
                    <div class="events__header">
                        <h2 class="events__title">
                            Регулярно участвуем в различных мероприятиях
                        </h2>
                        <a href="" class="events__link">
                            Все мероприятия
                            <i>
                                <svg width="19" height="18" viewBox="0 0 19 18" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0 9L18 9" stroke="white" />
                                    <path d="M10 1L18 9L10 17" stroke="white" />
                                </svg>
                            </i>
                        </a>
                    </div>
                    <div class="swiper events__slider events-slider">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a href="#" class="events-slider__item events-item">
                                    <div class="events-item__img">
                                        <img src="<%=require('@img/events-slider-1.jpg') %>" alt="">
                                    </div>
                                    <div class="events-item__content">
                                        <h3 class="events-item__title">
                                            Школьный фестиваль "китайский новый год"
                                        </h3>
                                        <span class="events-item__date">
                                            5 марта <span class="year">2022</span>
                                        </span>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="events-slider__item events-item">
                                    <div class="events-item__img">
                                        <img src="<%=require('@img/events-slider-2.jpg') %>" alt="">
                                    </div>
                                    <div class="events-item__content">
                                        <h3 class="events-item__title">
                                            Петербургский международный образовательный форум
                                        </h3>
                                        <span class="events-item__date">
                                            12-14 февраля
                                            <span class="year">2022</span>
                                        </span>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="events-slider__item events-item">
                                    <div class="events-item__img">
                                        <img src="<%=require('@img/events-slider-3.jpg') %>" alt="">
                                    </div>
                                    <div class="events-item__content">
                                        <h3 class="events-item__title">
                                            Петербургский международный образовательный форум
                                        </h3>
                                        <span class="events-item__date">
                                            12-14 февраля
                                            <span class="year">2022</span>
                                        </span>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="events-slider__item events-item">
                                    <div class="events-item__img">
                                        <img src="<%=require('@img/events-slider-4.jpg') %>" alt="">
                                    </div>
                                    <div class="events-item__content">
                                        <h3 class="events-item__title">
                                            Петербургский международный образовательный форум
                                        </h3>
                                        <span class="events-item__date">
                                            12-14 февраля
                                            <span class="year">2022</span>
                                        </span>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="events-slider__item events-item">
                                    <div class="events-item__img">
                                        <img src="<%=require('@img/events-slider-2.jpg') %>" alt="">
                                    </div>
                                    <div class="events-item__content">
                                        <h3 class="events-item__title">
                                            Петербургский международный образовательный форум
                                        </h3>
                                        <span class="events-item__date">
                                            12-14 февраля
                                            <span class="year">2022</span>
                                        </span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <section class="blog">
            <div class="container">
                <div class="blog__header">
                    <h2 class="blog__title">
                        Активно ведем блог и делимся полезной информацией
                    </h2>
                    <a href="" class="blog__link">
                        открыть блог
                        <i>
                            <svg width="19" height="18" viewBox="0 0 19 18" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 9L18 9" stroke="white" />
                                <path d="M10 1L18 9L10 17" stroke="white" />
                            </svg>
                        </i>
                    </a>
                </div>
                <div class="blog__wrapper">
                    <a href="" class="blog__item">
                        <div class="blog__item-group">
                            <span class="blog__item-date">
                                5 марта <span>2022</span>
                            </span>
                            <p class="blog__item-txt">
                                Торжественная церемония открытия проекта «профессиональное развитие учителя китайского
                                языка»
                            </p>
                        </div>
                        <div class="blog__item-img">
                            <img src="<%=require('@img/events-1.png') %>" alt="">
                        </div>
                        <div class="blog__item-icon">
                            <svg width="77" height="42" viewBox="0 0 77 42" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 21L75 21" stroke="#F4E8DD" stroke-width="2" />
                                <path d="M55 1L75 21L55 41" stroke="#F4E8DD" stroke-width="2" />
                            </svg>
                        </div>
                    </a>
                    <a href="" class="blog__item">
                        <div class="blog__item-group">
                            <span class="blog__item-date">
                                5 марта <span>2022</span>
                            </span>
                            <p class="blog__item-txt">
                                Конкурс! Победителям дарим 3 бесплатных урока китайского языка в Школе "Конфуций"
                            </p>
                        </div>
                        <div class="blog__item-img">
                            <img src="<%=require('@img/events-2.png') %>" alt="">
                        </div>
                        <div class="blog__item-icon">
                            <svg width="77" height="42" viewBox="0 0 77 42" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 21L75 21" stroke="#F4E8DD" stroke-width="2" />
                                <path d="M55 1L75 21L55 41" stroke="#F4E8DD" stroke-width="2" />
                            </svg>
                        </div>
                    </a>
                    <a href="" class="blog__item">
                        <div class="blog__item-group">
                            <span class="blog__item-date">
                                5 марта <span>2022</span>
                            </span>
                            <p class="blog__item-txt">
                                Всемирный день Китайского языка
                            </p>
                        </div>
                        <div class="blog__item-img">
                            <img src="<%=require('@img/events-3.png') %>" alt="">
                        </div>
                        <div class="blog__item-icon">
                            <svg width="77" height="42" viewBox="0 0 77 42" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 21L75 21" stroke="#F4E8DD" stroke-width="2" />
                                <path d="M55 1L75 21L55 41" stroke="#F4E8DD" stroke-width="2" />
                            </svg>
                        </div>
                    </a>
                    <a href="" class="blog__item">
                        <div class="blog__item-group">
                            <span class="blog__item-date">
                                5 марта <span>2022</span>
                            </span>
                            <p class="blog__item-txt">
                                Конкурс! Победителям дарим 3 бесплатных урока китайского языка в Школе "Конфуций"
                            </p>
                        </div>
                        <div class="blog__item-img">
                            <img src="<%=require('@img/events-4.png') %>" alt="">
                        </div>
                        <div class="blog__item-icon">
                            <svg width="77" height="42" viewBox="0 0 77 42" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 21L75 21" stroke="#F4E8DD" stroke-width="2" />
                                <path d="M55 1L75 21L55 41" stroke="#F4E8DD" stroke-width="2" />
                            </svg>
                        </div>
                    </a>
                </div>
            </div>
        </section>
        <section class="ourvk">
            <div class="container">
                <div class="ourvk__header">
                    <h2 class="ourvk__title">
                        Мы Вконтакте
                    </h2>
                    <a href="" class="ourvk__link">
                        Открыть страницу в VK
                        <i>
                            <svg width="19" height="18" viewBox="0 0 19 18" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 9L18 9" stroke="white" />
                                <path d="M10 1L18 9L10 17" stroke="white" />
                            </svg>
                        </i>
                    </a>
                </div>
                <div class="swiper ourvk__gallery">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="ourvk__gallery-image">
                                <img src="<%=require('@img/ourvk-1.png') %>" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="ourvk__gallery-image">
                                <img src="<%=require('@img/ourvk-2.png') %>" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="ourvk__gallery-image">
                                <img src="<%=require('@img/ourvk-3.png') %>" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="ourvk__gallery-image">
                                <img src="<%=require('@img/ourvk-4.png') %>" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="ourvk__gallery-image">
                                <img src="<%=require('@img/ourvk-5.png') %>" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="ourvk__gallery-image">
                                <img src="<%=require('@img/ourvk-6.png') %>" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="ourvk__gallery-image">
                                <img src="<%=require('@img/ourvk-7.png') %>" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="ourvk__gallery-image">
                                <img src="<%=require('@img/ourvk-8.png') %>" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="ourvk__gallery-image">
                                <img src="<%=require('@img/ourvk-9.png') %>" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="ourvk__gallery-image">
                                <img src="<%=require('@img/ourvk-3.png') %>" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="ourvk__gallery-image">
                                <img src="<%=require('@img/ourvk-4.png') %>" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="ourvk__gallery-image">
                                <img src="<%=require('@img/ourvk-5.png') %>" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>

<%= require('@parts/footer.ejs')() %>