<%= require('@parts/header.ejs')({title: 'Frontpage' }) %>

<main class="homepage" id="root">
    <section class="info">
        <div class="container">
            <div class="breadcrumbs">
                <a href="">Главная</a>
                <a href="">О нас</a>
                <span>
                    Основные сведения
                </span>
            </div>
            <h2>
                Основные сведения
            </h2>
            <p>
                <strong>Полное наименование Организации:</strong> Частное учреждение организация дополнительного образования «Академия восточных языков и культуры «КОНФУЦИЙ».
            </p>
            <p>
                <strong>Сокращенное наименование Организации:</strong> ЧУОДО «Академия восточных языков и культуры «КОНФУЦИЙ».
            </p>
            <p>
                <strong>Дата создания Организации:</strong> 10.12.2001 г.
            </p>
            <p>
                <strong>Учредитель Организации:</strong> ООО "Китайский центр"
            </p>
            <p>
                <strong>Собственник Организации:</strong> ООО "Китайский центр"
            </p>
            <p>
                <strong>Место нахождения Организации:</strong> 191040, г. Санкт-Петербург, Лиговский пр., д. 56, лит. Е, пом. 9Н.
            </p>
            <p>
                <strong>Место осуществления образовательной деятельности:</strong> 191040, г. Санкт-Петербург, Лиговский пр., д. 56, лит. Е, пом. 9Н.
            </p>
            <p>
                <strong>Режим и график работы:</strong> Понедельник-Суббота с 11:00 до 20:00
            </p>
            <p>
                <strong>Контактный телефон:</strong> (812) 441-29-68, +7 (981)156-25-36
            </p>
            <p>
                <strong>Адрес электронной почты:</strong> chinesecenterltd@gmail.com
            </p>
            <h3>
                Структура и органы управления образовательной организацией
            </h3>
            <p>
                Высшим органом управления является собственник.
            </p>
            <p>
                Директор (единоличный исполнительный орган) Чжан Сюньли подотчетен собственнику.
            </p>
            <p>
                В Организации созданы Педагогический совет и Общее собрание (конференция) работников и слушателей, возглавляемые Директором.
            </p>
            <p>
                <a href="">Положение об Общем собрании работников</a>
            </p>
            <p>
                <a href="#">Положение о Педагогическом совете</a>
            </p>
            <p>
                Тел.: +7(981) 156 25 35
            </p>
            <p>
                E-mail:chinesecenterltd@gmail.com
            </p>
            <br><br>
            <p>
                Порядок формирования, полномочия, а также порядок принятия и оформления решений органов управления регламентирован Уставом Организации. Копия Устава размещена в разделе <a href="">Документы.</a>
            </p>
        </div>
    </section>
</main>

<%= require('@parts/footer.ejs')() %>