<%= require('@parts/header.ejs')({title: 'Frontpage' }) %>

<main class="homepage" id="root">
    <div class="part">
        <div class="part-bg">
            <section class="part-header">
                <div class="container">
                    <div class="breadcrumbs">
                        <a href="">Главная</a>
                        <span>
                            Блог
                        </span>
                    </div>
                    <div class="part-header__row">
                        <h2 class="part-header__title">
                            Курсы Китайского языка в Санкт-Петербурге
                        </h2>
                        <p class="part-header__txt">
                            Преподаем китайский язык на международном уровне с 2007 года, войдя в состав глобальной сети Институтов и Школ Конфуций (Центр языкового образования и сотрудничества При Министерстве Образования КНР)
                        </p>
                    </div>
                </div>
                <div class="part-header__img-wrapper">
                    <div class="part-header__img">
                        <img src="<%=require('@img/part-header.png') %>" alt="">
                    </div>
                </div>
            </section>
            <section class="part-accord">
                <div class="container">
                    <div class="part-accord__red accord-red">
                        <ul class="accord-red__nav">
                            <li class="accord-red__nav-li active">
                                Для детей
                            </li>
                            <li class="accord-red__nav-li">
                                Для взрослых
                            </li>
                            <li class="accord-red__nav-li accord-red__nav-li_sm">
                                Индивидуальные занятия и минигруппы
                            </li>
                            <li class="accord-red__nav-li accord-red__nav-li_sm">
                                Подготовка к международным экзаменам
                            </li>
                            <li class="accord-red__nav-li accord-red__nav-li_sm">
                                Курсы китайской культуры
                            </li>
                        </ul>
                        <div class="accord-red__block accord-red__block_list active">
                            <p>
                                Небольшое описание выбранного подраздела, абзацем примерно в 4-5 строк для создания общего опнимания пользователя о содержании раздела
                            </p>
                            <ul>
                                <li>
                                    Удобные формы обучения онлайн дома или в классе академии
                                </li>
                                <li>
                                    Группы по всем возрастам от 9 до 16 лет
                                </li>
                            </ul>
                        </div>
                        <div class="accord-red__block accord-red__block_list">
                            <p>
                                Небольшое описание выбранного подраздела, абзацем примерно в 4-5 строк для создания общего опнимания пользователя о содержании раздела
                            </p>
                            <ul>
                                <li>
                                    Удобные формы обучения онлайн дома или в классе академии
                                </li>
                                <li>
                                    Группы по всем возрастам от 9 до 16 лет
                                </li>
                            </ul>
                        </div>
                        <div class="accord-red__block accord-red__block_list">
                            <p>
                                Небольшое описание выбранного подраздела, абзацем примерно в 4-5 строк для создания общего опнимания пользователя о содержании раздела
                            </p>
                            <ul>
                                <li>
                                    Удобные формы обучения онлайн дома или в классе академии
                                </li>
                                <li>
                                    Группы по всем возрастам от 9 до 16 лет
                                </li>
                            </ul>
                        </div>
                        <div class="accord-red__block accord-red__block_list">
                            <p>
                                Небольшое описание выбранного подраздела, абзацем примерно в 4-5 строк для создания общего опнимания пользователя о содержании раздела
                            </p>
                            <ul>
                                <li>
                                    Удобные формы обучения онлайн дома или в классе академии
                                </li>
                                <li>
                                    Группы по всем возрастам от 9 до 16 лет
                                </li>
                            </ul>
                        </div>
                        <div class="accord-red__block accord-red__block_list">
                            <p>
                                Небольшое описание выбранного подраздела, абзацем примерно в 4-5 строк для создания общего опнимания пользователя о содержании раздела
                            </p>
                            <ul>
                                <li>
                                    Удобные формы обучения онлайн дома или в классе академии
                                </li>
                                <li>
                                    Группы по всем возрастам от 9 до 16 лет
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <section class="rule">
            <div class="container">
                <div class="rule__header">
                    <h2 class="rule__title">
                        Наши преподаватели
                    </h2>
                </div>
                <div class="swiper rule__slider rule-slider active">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="" class="rule-slider__item rule-item">
                                <div class="rule-item__img">
                                    <img src="<%=require('@img/rule-1.png') %>" alt="">
                                </div>
                                <h3 class="rule-item__title">
                                    Алексеев Денис Максимович
                                </h3>
                                <p class="rule-item__info">
                                    Опыт преподавания: 14 лет
                                </p>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="" class="rule-slider__item rule-item">
                                <div class="rule-item__img">
                                    <img src="<%=require('@img/rule-1.png') %>" alt="">
                                </div>
                                <h3 class="rule-item__title">
                                    Алексеев Денис Максимович
                                </h3>
                                <p class="rule-item__info">
                                    Опыт преподавания: 14 лет
                                </p>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="" class="rule-slider__item rule-item">
                                <div class="rule-item__img">
                                    <img src="<%=require('@img/rule-1.png') %>" alt="">
                                </div>
                                <h3 class="rule-item__title">
                                    Алексеев Денис Максимович
                                </h3>
                                <p class="rule-item__info">
                                    Опыт преподавания: 14 лет
                                </p>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="" class="rule-slider__item rule-item">
                                <div class="rule-item__img">
                                    <img src="<%=require('@img/rule-1.png') %>" alt="">
                                </div>
                                <h3 class="rule-item__title">
                                    Алексеев Денис Максимович
                                </h3>
                                <p class="rule-item__info">
                                    Опыт преподавания: 14 лет
                                </p>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="" class="rule-slider__item rule-item">
                                <div class="rule-item__img">
                                    <img src="<%=require('@img/rule-1.png') %>" alt="">
                                </div>
                                <h3 class="rule-item__title">
                                    Алексеев Денис Максимович
                                </h3>
                                <p class="rule-item__info">
                                    Опыт преподавания: 14 лет
                                </p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="part-info">
            <div class="container">
                <div class="part-info__row">
                    <div class="part-info__content">
                        <h2 class="part-info__title">
                            В 2016 г. Академия «Конфуций» (г. Санкт-Петербург) <strong>вошла в пятерку лучших школ мира</strong>
                        </h2>
                        <p class="part-info__text">
                            <strong>Все преподаватели имеют высшее образование и являются обладателями международного сертификата 汉办</strong> (Центр языкового образования и сотрудничества При Министерстве Образования КНР (ранее - Китайская канцелярия Ханьбань), подтверждающего возможность преподавания китайского языка как иностранного.
                        </p>
                        <div class="part-info__link-wrapper">
                            <a href="" class="part-info__link">
                                Подробнее об академии
                                <i>
                                    <svg width="19" height="18" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0 9L18 9" stroke="white"/>
                                        <path d="M10 1L18 9L10 17" stroke="white"/>
                                    </svg>                                    
                                </i>
                            </a>
                        </div>
                    </div>
                    <div class="part-info__img">
                        <img src="<%=require('@img/part-info_pic.png') %>" alt="">
                    </div>
                </div>
            </div>
        </section>
        <section class="part-reviews">
            <div class="container">
                <h2 class="part-reviews__title">
                    Отзывы наших учеников
                </h2>
                <div class="swiper part-reviews__slider">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="https://www.youtube.com/watch?v=Bcuh4_mqbF8" class="popup-youtube part-reviews__item" rel="nofollow">
                                <img src="<%=require('@img/part-review.png') %>" alt="">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="https://www.youtube.com/watch?v=Bcuh4_mqbF8" class="popup-youtube part-reviews__item" rel="nofollow">
                                <img src="<%=require('@img/part-review.png') %>" alt="">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="https://www.youtube.com/watch?v=Bcuh4_mqbF8" class="popup-youtube part-reviews__item" rel="nofollow">
                                <img src="<%=require('@img/part-review.png') %>" alt="">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="https://www.youtube.com/watch?v=Bcuh4_mqbF8" class="popup-youtube part-reviews__item" rel="nofollow">
                                <img src="<%=require('@img/part-review.png') %>" alt="">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="https://www.youtube.com/watch?v=Bcuh4_mqbF8" class="popup-youtube part-reviews__item" rel="nofollow">
                                <img src="<%=require('@img/part-review.png') %>" alt="">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="https://www.youtube.com/watch?v=Bcuh4_mqbF8" class="popup-youtube part-reviews__item" rel="nofollow">
                                <img src="<%=require('@img/part-review.png') %>" alt="">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="https://www.youtube.com/watch?v=Bcuh4_mqbF8" class="popup-youtube part-reviews__item" rel="nofollow">
                                <img src="<%=require('@img/part-review.png') %>" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>

<%= require('@parts/footer.ejs')() %>