<%= require('@parts/header.ejs')({title: 'Frontpage' }) %>

<main class="homepage" id="root">
    <section class="rulers">
        <div class="container">
            <div class="breadcrumbs">
                <a href="">Главная</a>
                <a href="">О нас</a>
                <span>
                    Руководство и педагогический состав
                </span>
            </div>
            <h2 class="rulers__title">
                Руководство и педагогический состав
            </h2>
            <div class="rulers__header">
                <img src="<%=require('@img/rulers-header.png') %>" alt="">
            </div>
            <h4 class="rulers__subtitle">
                Персональный состав педогагических работников
            </h4>
            <div class="rulers__item rulers-item">
                <div class="rulers-item__img">
                    <img src="<%=require('@img/rulers-1.png') %>" alt="">
                </div>
                <div class="rulers-item__content">
                    <h3 class="rulers-item__name">
                        Чжан Сюньли
                    </h3>
                    <p class="rulers-item__position">
                        Директор и руководитель организации
                    </p>
                    <p class="rulers-item__time">
                        Стаж преподавания: 12 лет
                    </p>
                    <p class="rulers-item__txt">
                        Окончила Институт иностранных языков Шаньдуньского университета 山东大学外国语学院. Также проходила обучение в Институте международного образования Шаньдуньского университета 山东大学国际教育学院; в Российском университете дружбы народов (РУДН).
                        <br><br>
                        Ранее преподавала в Институте Конфуций при Государственном Университете Монголии. <br><br>
                        Контактный телефон: (812) 441-29-68, <br>
                        +7 (981)156-25-36 <br><br>
                        Адрес электронной почты:chinesecenterltd@gmail.com
                    </p>
                    <div class="rulers-item__video-wrapper">
                        <a href="https://www.youtube.com/watch?v=Bcuh4_mqbF8" rel="nofollow" class="rulers-item__video popup-youtube">
                            Смотреть видеовизитку
                            <i>
                                <svg width="16" height="19" viewBox="0 0 16 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M16 9.5L0.249999 18.5933L0.25 0.406733L16 9.5Z" fill="white"/>
                                </svg>                                                          
                            </i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="rulers__item rulers-item">
                <div class="rulers-item__img">
                    <img src="<%=require('@img/rulers-1.png') %>" alt="">
                </div>
                <div class="rulers-item__content">
                    <h3 class="rulers-item__name">
                        Чжан Сюньли
                    </h3>
                    <p class="rulers-item__position">
                        Директор и руководитель организации
                    </p>
                    <p class="rulers-item__time">
                        Стаж преподавания: 12 лет
                    </p>
                    <p class="rulers-item__txt">
                        Окончила Институт иностранных языков Шаньдуньского университета 山东大学外国语学院. Также проходила обучение в Институте международного образования Шаньдуньского университета 山东大学国际教育学院; в Российском университете дружбы народов (РУДН).
                        <br><br>
                        Ранее преподавала в Институте Конфуций при Государственном Университете Монголии. <br><br>
                        Контактный телефон: (812) 441-29-68, <br>
                        +7 (981)156-25-36 <br><br>
                        Адрес электронной почты:chinesecenterltd@gmail.com
                    </p>
                    <div class="rulers-item__video-wrapper">
                        <a href="https://www.youtube.com/watch?v=Bcuh4_mqbF8" rel="nofollow" class="rulers-item__video popup-youtube">
                            Смотреть видеовизитку
                            <i>
                                <svg width="16" height="19" viewBox="0 0 16 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M16 9.5L0.249999 18.5933L0.25 0.406733L16 9.5Z" fill="white"/>
                                </svg>                                                          
                            </i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="rulers__item rulers-item">
                <div class="rulers-item__img">
                    <img src="<%=require('@img/rulers-1.png') %>" alt="">
                </div>
                <div class="rulers-item__content">
                    <h3 class="rulers-item__name">
                        Чжан Сюньли
                    </h3>
                    <p class="rulers-item__position">
                        Директор и руководитель организации
                    </p>
                    <p class="rulers-item__time">
                        Стаж преподавания: 12 лет
                    </p>
                    <p class="rulers-item__txt">
                        Окончила Институт иностранных языков Шаньдуньского университета 山东大学外国语学院. Также проходила обучение в Институте международного образования Шаньдуньского университета 山东大学国际教育学院; в Российском университете дружбы народов (РУДН).
                        <br><br>
                        Ранее преподавала в Институте Конфуций при Государственном Университете Монголии. <br><br>
                        Контактный телефон: (812) 441-29-68, <br>
                        +7 (981)156-25-36 <br><br>
                        Адрес электронной почты:chinesecenterltd@gmail.com
                    </p>
                    <div class="rulers-item__video-wrapper">
                        <a href="https://www.youtube.com/watch?v=Bcuh4_mqbF8" rel="nofollow" class="rulers-item__video popup-youtube">
                            Смотреть видеовизитку
                            <i>
                                <svg width="16" height="19" viewBox="0 0 16 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M16 9.5L0.249999 18.5933L0.25 0.406733L16 9.5Z" fill="white"/>
                                </svg>                                                          
                            </i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="rulers__item rulers-item">
                <div class="rulers-item__img">
                    <img src="<%=require('@img/rulers-1.png') %>" alt="">
                </div>
                <div class="rulers-item__content">
                    <h3 class="rulers-item__name">
                        Чжан Сюньли
                    </h3>
                    <p class="rulers-item__position">
                        Директор и руководитель организации
                    </p>
                    <p class="rulers-item__time">
                        Стаж преподавания: 12 лет
                    </p>
                    <p class="rulers-item__txt">
                        Окончила Институт иностранных языков Шаньдуньского университета 山东大学外国语学院. Также проходила обучение в Институте международного образования Шаньдуньского университета 山东大学国际教育学院; в Российском университете дружбы народов (РУДН).
                        <br><br>
                        Ранее преподавала в Институте Конфуций при Государственном Университете Монголии. <br><br>
                        Контактный телефон: (812) 441-29-68, <br>
                        +7 (981)156-25-36 <br><br>
                        Адрес электронной почты:chinesecenterltd@gmail.com
                    </p>
                    <div class="rulers-item__video-wrapper">
                        <a href="https://www.youtube.com/watch?v=Bcuh4_mqbF8" rel="nofollow" class="rulers-item__video popup-youtube">
                            Смотреть видеовизитку
                            <i>
                                <svg width="16" height="19" viewBox="0 0 16 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M16 9.5L0.249999 18.5933L0.25 0.406733L16 9.5Z" fill="white"/>
                                </svg>                                                          
                            </i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<%= require('@parts/footer.ejs')() %>