<%= require('@parts/header.ejs')({title: 'header_unfilled' }) %>

<main class="homepage" id="root">
    <section class="hsk">
        <div class="hsk__header hsk-header stip-header">
            <div class="container">
                <div class="breadcrumbs">
                    <a href="">Главная</a>
                    <span>
                        Блог
                    </span>
                </div>
                <div class="stip-header__row">
                    <div class="hsk-header__content">
                        <h2 class="hsk-header__title">
                            Стипендиальные программы
                        </h2>
                        <p class="hsk-header__txt">
                            Для желающих учиться в Китае бесплатно или оплачивая лишь часть расходов, существуют различные
                            возможности обучения за счет китайского государства. Одна из таких возможностей – подать заявку
                            на получение стипендии Института Конфуция.
                            <br><br>
                            «Стипендии Института Конфуция» учреждены штаб-квартирой Институтов Конфуция - Центром языкового
                            образования и сотрудничества При Министерстве Образования КНР (ранее - Китайская канцелярия
                            Ханьбань) для поощрения учащихся, проявивших особые успехи в изучении китайского языка и
                            культуры Китая.
                        </p>
                </div>
                <div class="hsk-header__info stip-header__info">
                    <p class="hsk-header__info-item stip-header__item">
                        <strong>
                            Краткосрочные программы

                        </strong>
                        (месяц, полгода, год)
                    </p>
                    <p class="hsk-header__info-item stip-header__item">
                        <strong>
                            Долгосрочные программы
                        </strong>
                        (бакалавриат, магистратура, аспирантура, докторантура)
                    </p>
                </div>
                </div>
            <div class="camp__gallery camp-gallery">
                <div class="camp-gallery__row">
                    <div class="camp-gallery__item">
                        <img src="<%=require('@img/camp-1.png') %>" alt="">
                    </div>
                    <div class="camp-gallery__item">
                        <img src="<%=require('@img/camp-2.png') %>" alt="">
                    </div>
                    <div class="camp-gallery__item">
                        <img src="<%=require('@img/camp-3.png') %>" alt="">
                    </div>
                    <div class="camp-gallery__item">
                        <img src="<%=require('@img/camp-4.png') %>" alt="">
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="container">
            <div class="stip-block">
                <h2>
                    Стипендии Института Конфуций в ВУЗах Китая 2022
                </h2>
                <h3>
                    Требования к кандидату:
                </h3>
                <p>
                    <span>1.</span> ОБУЧЕНИЕ В ШКОЛЕ «КОНФУЦИЙ» ОТ 2-Х ЛЕТ
                </p>
                <p>
                    <span>2.</span> Отсутствие гражданства КНР.
                </p>
                <p>
                    <span>3.</span> Хорошее физическое, психическое здоровье, высокие моральные качества и эрудиция.
                </p>
                <p>
                    <span>4.</span> Стремление к преподаванию китайского языка как иностранного.
                </p>
                <p>
                    <span>5.</span> Возраст от 16 до 34 лет (на 1 Сентября 2021 года). Кандидаты, на данный момент
                    работающие как учителя китайского языка, на момент начала занятий НЕ должны быть старше 45 лет, а
                    кандидаты на стипендию бакалавриата НЕ должны быть старше 25 лет.
                </p>
                <h4>
                    Что оплачивает китайская сторона:
                </h4>
                <ul>
                    <li>
                        Обучение в выбранном ВУЗе на выбранный срок;
                    </li>
                    <li>
                        Проживание, медицинское страхование;
                    </li>
                    <li>
                        Ежемесячная стипендия: для бакалавриата, стипендии на 1 учебный год и 1 семестр: 2500 юаней; для
                        магистратуры: 3000 юаней; для аспирантуры: 3500 юаней
                    </li>
                </ul>
                <h4>
                    Что оплачивает стипендиат:
                </h4>
                <ul>
                    <li>
                        Оплата за дорогу до ВУЗа (авиаперелет, ж/д билеты и т.п.)
                    </li>
                    <li>
                        Подготовка всех документов для получения приглашения и визы;
                    </li>
                    <li>
                        Учебные материалы, экскурсионная программа
                    </li>
                </ul>
                <h3>
                    Виды стипендий и требования к уровню языка:
                </h3>
                <h4>
                    <span>1. Аспирантура</span>
                </h4>
                <h5>
                    Специальность: преподавание китайского языка как иностранного
                </h5>
                <p>
                    Начало занятий в сентябре 2021 года, срок финансирования - 4 академических года.
                </p>
                <p>
                    Необходимо иметь степень магистра в области “Китайский язык как иностранный”, “Языкознание”,
                    “Международное образование китайского языка” , "Педагогика".
                </p>
                <p>
                    Необходимо иметь более 2 лет опыта работы в преподавании китайского или заниматься работой, которая
                    касается китайского языка более двух лет.
                </p>
                <p>
                    Приоритет отдается кандидатам, имеющим трудовой договор преподавателя китайского языка
                </p>
                <p>
                    <strong>
                        Список ВУЗов:
                    </strong>
                    <a href="">https://cis.chinese.cn/Account/AcceptShool</a>
                </p>
                <div class="stip-window">
                    <h5>
                        <strong>Уровень языка:</strong>
                    </h5>
                    <ul>
                        <li>
                            HSK6 от 200 баллов
                        </li>
                        <li>
                            HSKK (высокий уровень) от 60 баллов
                        </li>
                        <li>
                            Сертификаты должны быть действующими
                        </li>
                    </ul>
                </div>


                <h4>
                    <span>2. Магистратура</span>
                </h4>
                <h5>
                    Специальности: преподавание китайского языка как иностранного; китайский язык; китайский язык и
                    профессионально-техническое обучение
                </h5>
                <p>
                    Начало занятий в сентябре 2021 года, срок финансирования – 2 академических года.
                </p>
                <p>
                    Необходимо иметь степень бакалавра. Приоритет отдается кандидатам, имеющим трудовой договор
                    преподавателя по китайскому языку.
                </p>
                <p>
                    <strong>
                        Список ВУЗов:
                    </strong>
                    <a href="">https://cis.chinese.cn/Account/AcceptShool</a>
                </p>
                <div class="stip-window">
                    <h5>
                        <strong>Уровень языка:</strong>
                    </h5>
                    <ul>
                        <li>
                            HSK6 от 200 баллов
                        </li>
                        <li>
                            HSKK (высокий уровень) от 60 баллов
                        </li>
                        <li>
                            Сертификаты должны быть действующими
                        </li>
                    </ul>
                </div>



                <h4>
                    <span>3. Бакалавриат</span>
                </h4>
                <h5>
                    Специальности: преподавание китайского языка как иностранного; китайский язык; китайский язык и
                    профессионально-техническое обучение
                </h5>
                <p>
                    Начало занятий в сентябре 2021 года, срок финансирования – 2 академических года.
                </p>
                <p>
                    Необходимо иметь степень бакалавра. Приоритет отдается кандидатам, имеющим трудовой договор
                    преподавателя по китайскому языку.
                </p>
                <p>
                    <strong>
                        Список ВУЗов:
                    </strong>
                    <a href="">https://cis.chinese.cn/Account/AcceptShool</a>
                </p>
                <div class="stip-window">
                    <h5>
                        <strong>Уровень языка:</strong>
                    </h5>
                    <ul>
                        <li>
                            HSK6 от 200 баллов
                        </li>
                        <li>
                            HSKK (высокий уровень) от 60 баллов
                        </li>
                        <li>
                            Сертификаты должны быть действующими
                        </li>
                    </ul>
                </div>





                <h4>
                    <span>4. Стипендия на 1 академический год (с сентября 2021 по июль 2022)</span>
                </h4>
                <h5>
                    Специальности: преподавание китайского языка как иностранного; китайский язык; китайский язык и
                    профессионально-техническое обучение
                </h5>
                <p>
                    Начало занятий в сентябре 2021 года, срок финансирования – 2 академических года.
                </p>
                <p>
                    Необходимо иметь степень бакалавра. Приоритет отдается кандидатам, имеющим трудовой договор
                    преподавателя по китайскому языку.
                </p>
                <p>
                    <strong>
                        Список ВУЗов:
                    </strong>
                    <a href="">https://cis.chinese.cn/Account/AcceptShool</a>
                </p>
                <div class="stip-window__group">
                    <div class="stip-window__col">
                        <h4>
                            Стипендия для преподавателей китайского языка как иностранного
                        </h4>
                        <div class="stip-window">
                            <h5>
                                <strong>Уровень языка:</strong>
                            </h5>
                            <ul>
                                <li>
                                    HSK6 от 200 баллов
                                </li>
                                <li>
                                    HSKK (высокий уровень) от 60 баллов
                                </li>
                                <li>
                                    Сертификаты должны быть действующими
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="stip-window__col">
                        <h4>
                            Стипендия для преподавателей китайского языка как иностранного
                        </h4>
                        <div class="stip-window">
                            <h5>
                                <strong>Уровень языка:</strong>
                            </h5>
                            <ul>
                                <li>
                                    HSK6 от 200 баллов
                                </li>
                                <li>
                                    HSKK (высокий уровень) от 60 баллов
                                </li>
                                <li>
                                    Сертификаты должны быть действующими
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="stip-window__col">
                        <h4>
                            Стипендия для преподавателей китайского языка как иностранного
                        </h4>
                        <div class="stip-window">
                            <h5>
                                <strong>Уровень языка:</strong>
                            </h5>
                            <ul>
                                <li>
                                    HSK6 от 200 баллов
                                </li>
                                <li>
                                    HSKK (высокий уровень) от 60 баллов
                                </li>
                                <li>
                                    Сертификаты должны быть действующими
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>



                <h4>
                    <span>5. Стипендия на 1 семестр (Те, у кого есть визы X1 и X2, не могут подавать документы на данную
                        стипендию)</span>
                </h4>
                <h5>
                    Специальности: преподавание китайского языка как иностранного; китайский язык; китайский язык и
                    профессионально-техническое обучение
                </h5>
                <p>
                    Начало занятий в сентябре 2021 года, срок финансирования – 2 академических года.
                </p>
                <p>
                    Необходимо иметь степень бакалавра. Приоритет отдается кандидатам, имеющим трудовой договор
                    преподавателя по китайскому языку.
                </p>
                <p>
                    <strong>
                        Список ВУЗов:
                    </strong>
                    <a href="">https://cis.chinese.cn/Account/AcceptShool</a>
                </p>
                <div class="stip-window__group">
                    <div class="stip-window__col">
                        <h4>
                            Стипендия для преподавателей китайского языка как иностранного
                        </h4>
                        <div class="stip-window">
                            <h5>
                                <strong>Уровень языка:</strong>
                            </h5>
                            <ul>
                                <li>
                                    HSK6 от 200 баллов
                                </li>
                                <li>
                                    HSKK (высокий уровень) от 60 баллов
                                </li>
                                <li>
                                    Сертификаты должны быть действующими
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="stip-window__col">
                        <h4>
                            Стипендия для преподавателей китайского языка как иностранного
                        </h4>
                        <div class="stip-window">
                            <h5>
                                <strong>Уровень языка:</strong>
                            </h5>
                            <ul>
                                <li>
                                    HSK6 от 200 баллов
                                </li>
                                <li>
                                    HSKK (высокий уровень) от 60 баллов
                                </li>
                                <li>
                                    Сертификаты должны быть действующими
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="stip-window__col">
                        <h4>
                            Стипендия для преподавателей китайского языка как иностранного
                        </h4>
                        <div class="stip-window">
                            <h5>
                                <strong>Уровень языка:</strong>
                            </h5>
                            <ul>
                                <li>
                                    HSK6 от 200 баллов
                                </li>
                                <li>
                                    HSKK (высокий уровень) от 60 баллов
                                </li>
                                <li>
                                    Сертификаты должны быть действующими
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <blockquote>
                    Обратите внимание: Школа «Конфуций» может выписать рекомендательное письмо и предоставить справку о
                    количестве учебных часов для получения стипендии только при условии регулярного посещения занятий в
                    школе, успешного освоения учебной программы, полном завершении учебного года, хорошем поведении и
                    дружественном отношении к гражданам КНР
                </blockquote>

                <h4>
                    Сроки подачи документов (по пекинскому времени):
                </h4>
                <p>
                    <span>1.</span> Поступление в сентябре 2021 г.: крайний срок подачи заявок на участие в получении
                    стипендии – 30 апреля 2021 г;
                </p>
                <p>
                    <span>2.</span> Поступление в марте 2022 г: крайний срок подачи заявок на участие в получении
                    стипендии – 30 сентября 2021 г.
                </p>
                <div class="line"></div>
                <h4>
                    Документы, которые нужно предоставить:
                </h4>
                <p>
                    <span>1.</span> Анкету стипендиата (в напечатанном виде или в электронном виде)
                </p>
                <p>
                    <span>2.</span> Заявление (заполняется на сайте http://cis.chinese.cn с 25.03.2021). Необходимо
                    самостоятельно зарегистрироваться на данном сайте, предоставить Школе «Конфуций» логин и пароль от
                    аккаунта.
                </p>
                <p>
                    <span>3.</span> Действующий загранпаспорт (паспорт должен быть действительным еще 6 месяцев с даты
                    вашего отъезда – то есть, если Вы едете в августе 2021 – Ваш паспорт должен быть действителен до
                    марта 2022) – (скан или ксерокопия)
                </p>
                <p>
                    <span>4.</span> Диплом об окончании ВУЗа (при наличии) или аттестат об окончании средней
                    общеобразовательной школы – скан или ксерокопия, его нотариально-заверенный перевод на китайский или
                    английский язык (при наличии уже имеющегося документа об образовании на китайском или английском
                    языке, нотариально – заверенный документ не нужен)
                </p>
                <p>
                    <span>5.</span> Для обучающихся в данный момент: справка из ВУЗА/школы и выписка с оценками за
                    последний триместр/полугодие, их нотариально-заверенный перевод на китайский или английский язык
                    (при наличии уже имеющегося документа на китайском или английском языке, нотариально – заверенный
                    перевод не нужен)
                </p>
                <p>
                    <span>6</span>. Электронная фотография (как на документы) 100Кб
                </p>
                <p>
                    <span>7.</span> Действующий сертификат HSK – скан
                </p>
                <p>
                    <span>
                        Обратите внимание, что процесс по обработке данных, по связи с ВУЗом начинается только после
                        подачи ВСЕХ документов.
                    </span>
                </p>
                <p><strong>
                        <span>ВАЖНО!!!</span> Оплата по сопровождению и подготовке всех документов для подачи заявки в
                        ВУЗ производится ТОЛЬКО при наличии всех требуемых документов и составляет 15 000 рублей. В
                        случае, если с Вашими документами была произведена работа, оказана услуга по сопровождению, но
                        по окончании в стипендии Вам было отказано ВУЗом, денежная сумма не возвращается!!!
                    </strong></p>
                <p>
                    <strong>
                        Подача документов не гарантирует получение стипендии – все зависит от выбора ВУЗа, в который Вы
                        подаете документы, баллов Ваших сертификатов международных экзаменов, а также быстроты подачи
                        документов. Помните, чем раньше Вы подадите документы, тем большая вероятность, что Вас выберет
                        ВУЗ!!
                    </strong>
                </p>
                <p>
                    <strong>
                        <span>ПОДЧЕРКИВАЕМ</span>, что получение стипендии определяет НЕ Школа "Конфуций", а выбранный
                        ВУЗ и Центр языкового образования и сотрудничества При Министерстве Образования КНР! Школа
                        "Конфуций" предоставляет ТОЛЬКО услуги по связи с университетами, подаче и обработке документов
                        для получения стипендии.
                    </strong>
                </p>
                <div class="line"></div>
            </div>
        </div>
        </div>
    </section>
</main>

<%= require('@parts/footer.ejs')() %>