.feedback {
    padding-bottom: 150px;
    position: relative;
    &::after {
        position: absolute;
        width: 533px;
        top: 0;
        bottom: 0;
        content: '';
        display: inline-block;
        background: url(../../assets/img/bg-right.svg) top left;
        right: -366px;
    }
    &::before {
        position: absolute;
        width: 533px;
        top: 0;
        bottom: 0;
        content: '';
        display: inline-block;
        background: url(../../assets/img/bg-left.svg) top left;
        left: -364px;
    }
    .container {
        position: relative;
        z-index: 2;
    }
    &__wrapper {
        display: flex;
        flex-wrap: wrap;
    }
    &__title {
        width: 50%;
        padding-right: 10px;
        font-weight: 500;
        font-size: 60px;
        line-height: 65px;
        color: #222831;
    }
    &__nav {
        width: 50%;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        list-style: none;
        padding-left: 10px;
        li {
            margin-right: 47px;
            font-weight: 800;
            font-size: 14px;
            line-height: 24px;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: #A4A4A4;
            cursor: pointer;
            &:last-child {
                margin-right: 0;
            }
            transition: .3s all;
            &.active {
                text-decoration-line: underline;
                color: #0D5735;
            }
            &:hover {
                text-decoration: underline;
            }
        }
    }
    &__content {
        flex-wrap: wrap;
        margin-left: -30px;
        margin-right: -30px;
        margin-top: 80px;
        display: none;
        &.active {
            display: flex;
        }
    }
    &__item {
        padding-left: 30px;
        padding-right: 30px;
        margin-bottom: 60px;
    }
    &__link {
        display: block;
        width: 100%;
        height: 386px;
        border-radius: 10px;
        overflow: hidden;
        position: relative;
        &::after {
            position: absolute;
            content: '';
            display: inline-block;
            background: url(../../assets/img/feedback-play.png) center no-repeat;
            width: 93px;
            height: 95px;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
        }
        img {
            min-width: 100%;
            min-height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    &__viewmore {
        background: linear-gradient(195.42deg, #FFDB84 10.44%, #E3BD61 88.12%);
        box-shadow: 0px 10px 30px rgba(169, 137, 63, 0.15), inset 0px -8px 15px #DCBC72, inset 0px 8px 10px #FFE3A2;
        border-radius: 10px;
        display: inline-block;
        font-weight: 800;
        font-size: 14px;
        line-height: 68px;
        padding-left: 19px;
        padding-right: 19px;
        text-decoration: none;
        letter-spacing: 0.1em;
        min-width: 220px;
        text-align: center;
        text-transform: uppercase;
        color: #093823;
        i {
            display: none;
        }
        transition: .3s all;
        &:hover { 
           color: #093823;
            background: linear-gradient(195.42deg, #FFE095 10.44%, #F1CB71 88.12%);
box-shadow: 0.593382px 10px 30px rgba(210, 169, 71, 0.3), inset -0.197794px -11.3316px 20px #F7CC69, inset 0.197794px 11.3316px 11.3333px #FFE3A2;
        }
        &-wrapper {
            display: flex;
            justify-content: center;
            width: 100%;
        }
    }
}