<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
        Frontpage
    </title>

</head>

<body>
    <div class="dropnav">
        <div class="container">
            <ul class="dropnav__list">
                <li><a href="">
                    Курсы Китайского языка
                </a>
                <ul>
                    <li>
                        <a href="">
                            Для детей
                        </a>
                    </li>
                    <li>
                        <a href="">
                            Для взрослых
                        </a>
                    </li>
                    <li>
                        <a href="" class="dropnav__link_sm">
                            Индивидуальные занятия и минигруппы
                        </a>
                    </li>
                    <li>
                        <a href="" class="dropnav__link_sm">
                            Подготовка к международным экзаменам
                        </a>
                    </li>
                    <li>
                        <a href="" class="dropnav__link_sm">
                            Подготовка преподавателей
                        </a>
                    </li>
                    <li>
                        <a href="" class="dropnav__link_sm">
                            Дополнительные курсы
                        </a>
                    </li>
                </ul>
                </li>
                <li><a href="">
                    Экзамены и сертификция
                </a></li>
                <li><a href="">
                    Обучение в Китае
                </a></li>
                <li><a href="">
                    О нас
                </a></li>
                <li><a href="">
                    Мероприятия
                </a></li>
                <li><a href="">
                    Отзывы
                </a></li>
                <li><a href="">
                    Контакты
                </a></li>
            </ul>
            <div class="dropnav__contacts">
                <h3 class="dropnav__contacts-title">
                    Соц. сети и мессенджеры
                </h3>
                <div class="dropnav__contacts-row">
                    <a href="">
                        <svg width="32" height="18" viewBox="0 0 32 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M26.5533 10.2902C26.036 9.66089 26.184 9.38092 26.5533 8.8184C26.56 8.81198 30.8307 3.12775 31.2707 1.20005L31.2733 1.19876C31.492 0.496261 31.2733 -0.0200195 30.216 -0.0200195H26.7173C25.8267 -0.0200195 25.416 0.423057 25.196 0.91879C25.196 0.91879 23.4147 5.02592 20.8947 7.68823C20.0813 8.45752 19.7053 8.7041 19.2613 8.7041C19.0427 8.7041 18.7027 8.45752 18.7027 7.75502V1.19876C18.7027 0.356275 18.4533 -0.0200195 17.716 -0.0200195H12.2147C11.656 -0.0200195 11.324 0.372971 11.324 0.738991C11.324 1.53781 12.584 1.72147 12.7147 3.96896V8.84537C12.7147 9.91389 12.5133 10.1104 12.0667 10.1104C10.8773 10.1104 7.99067 5.98656 6.28 1.26683C5.93467 0.351137 5.59733 -0.0187353 4.7 -0.0187353H1.2C0.201333 -0.0187353 0 0.424342 0 0.920074C0 1.79595 1.18933 6.15095 5.53067 11.9045C8.424 15.8319 12.4987 17.9599 16.2053 17.9599C18.4333 17.9599 18.7053 17.4873 18.7053 16.6744C18.7053 12.9217 18.504 12.5672 19.62 12.5672C20.1373 12.5672 21.028 12.8138 23.108 14.7081C25.4853 16.9543 25.876 17.9599 27.2067 17.9599H30.7053C31.7027 17.9599 32.208 17.4873 31.9173 16.5549C31.252 14.5938 26.756 10.5599 26.5533 10.2902Z" fill="#0D5735"/>
                        </svg>                            
                    </a>
                    <a href="">
                        <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_85_949)">
                            <path d="M5.39789 22.5145L5.85621 22.7691C7.74038 23.9404 9.93012 24.6533 12.2217 24.6533C18.8927 24.6533 24.4434 19.1026 24.4434 12.3298C24.4434 5.55691 18.8927 0.209961 12.1707 0.209961C5.44882 0.209961 0 5.60785 0 12.3298C0 14.6723 0.662016 16.9638 1.88417 18.8989L2.18974 19.3573L1.01852 23.6349L5.39789 22.5145Z" fill="#0D5735"/>
                            <path d="M8.24541 5.46629L7.27617 5.41504C6.97006 5.41504 6.66401 5.51753 6.45995 5.72246C6.00081 6.13232 5.23562 6.90079 5.03157 7.92549C4.67449 9.46249 5.23562 11.3068 6.56201 13.1512C7.88839 14.9956 10.4391 17.9671 14.9283 19.2479C16.3567 19.6577 17.479 19.4016 18.3973 18.838C19.1115 18.3769 19.5706 17.6597 19.7237 16.8912L19.8767 16.1739C19.9277 15.969 19.8257 15.7128 19.6216 15.6104L16.4077 14.1246C16.2037 14.0221 15.9486 14.0734 15.7955 14.2783L14.5202 15.9177C14.4181 16.0202 14.2651 16.0714 14.1121 16.0202C13.2448 15.7128 10.337 14.4832 8.75558 11.4093C8.70455 11.2556 8.70455 11.1019 8.80661 10.9994L10.0309 9.61617C10.133 9.46249 10.184 9.25756 10.133 9.10382L8.65358 5.77371C8.60249 5.61997 8.44947 5.46629 8.24541 5.46629Z" fill="white"/>
                            </g>
                            <defs>
                            <clipPath id="clip0_85_949">
                            <rect width="24.4434" height="24.4434" fill="white" transform="translate(0 0.209961)"/>
                            </clipPath>
                            </defs>
                        </svg>                                                       
                    </a>
                    <a href="">
                        <svg width="24" height="26" viewBox="0 0 24 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_85_939)">
                            <path d="M11.143 20.4334L7.13463 24.4752L6.3174 23.8534L6.16174 20.1613L3.5933 18.8399L2.30908 16.2361L1.53076 13.3213V8.81304L2.30908 5.39301L3.94354 3.60526L6.16174 2.82799L9.31392 2.32275L13.8281 2.51707L17.603 2.82799L20.0547 4.30482L21.8059 6.09256L22.5453 14.837L21.4556 17.7906L18.1089 20.4334H11.143Z" fill="#0D5735"/>
                            <path d="M23.234 6.52817L23.2269 6.4999C22.6543 4.18917 20.0728 1.70962 17.7021 1.19377L17.6754 1.18828C13.8409 0.458075 9.95299 0.458075 6.11931 1.18828L6.09178 1.19377C3.72188 1.70962 1.1404 4.18917 0.567004 6.4999L0.560711 6.52817C-0.14719 9.75518 -0.14719 13.0277 0.560711 16.2548L0.567004 16.283C1.11594 18.4951 3.50519 20.8608 5.78738 21.5113V24.0908C5.78738 25.0243 6.9271 25.4829 7.57523 24.8092L10.1933 22.0926C10.7611 22.1243 11.3292 22.142 11.8974 22.142C13.8276 22.142 15.7586 21.9598 17.6754 21.5947L17.7021 21.5892C20.0728 21.0734 22.6543 18.5938 23.2269 16.2831L23.234 16.2548C23.9419 13.0277 23.9419 9.75518 23.234 6.52817ZM21.1622 15.7868C20.7799 17.2943 18.8198 19.1685 17.2625 19.5148C15.2236 19.9018 13.1687 20.0672 11.1158 20.0104C11.0749 20.0093 11.0357 20.0251 11.0072 20.0543C10.7159 20.3528 9.09564 22.0131 9.09564 22.0131L7.06239 24.0962C6.91373 24.2509 6.6526 24.1456 6.6526 23.9321V19.6591C6.6526 19.5885 6.6021 19.5285 6.53264 19.5149C6.53225 19.5148 6.53186 19.5148 6.53146 19.5147C4.97408 19.1684 3.01477 17.2942 2.63172 15.7867C1.9946 12.8698 1.9946 9.91292 2.63172 6.99604C3.01477 5.48853 4.97408 3.61435 6.53146 3.26809C10.0922 2.59207 13.7025 2.59207 17.2625 3.26809C18.8206 3.61435 20.7799 5.48853 21.1622 6.99604C21.8 9.913 21.8 12.8699 21.1622 15.7868Z" fill="#0D5735"/>
                            <path d="M15.9732 18.6747C15.6877 18.5883 15.4155 18.5303 15.1628 18.4258C12.5438 17.3432 10.1335 15.9465 8.22432 13.8056C7.1386 12.5882 6.28883 11.2137 5.57049 9.75909C5.22984 9.06928 4.94277 8.35246 4.65016 7.64031C4.38335 6.99088 4.77634 6.31995 5.19016 5.83063C5.57846 5.37141 6.07812 5.01997 6.61924 4.76096C7.0416 4.55878 7.45823 4.67534 7.76669 5.03202C8.43353 5.80315 9.04604 6.61373 9.54204 7.50758C9.84703 8.05737 9.76335 8.72943 9.21059 9.10359C9.07625 9.19453 8.95382 9.30128 8.82867 9.404C8.71891 9.49401 8.61562 9.58496 8.54038 9.70684C8.40285 9.92986 8.39628 10.1929 8.48484 10.4354C9.1665 12.3018 10.3155 13.7531 12.2009 14.5348C12.5026 14.6598 12.8057 14.8055 13.1533 14.7651C13.7354 14.6973 13.9238 14.0612 14.3318 13.7288C14.7305 13.404 15.24 13.3997 15.6695 13.6705C16.099 13.9413 16.5155 14.2321 16.9294 14.526C17.3357 14.8144 17.7402 15.0966 18.115 15.4254C18.4754 15.7417 18.5995 16.1565 18.3966 16.5856C18.0251 17.3715 17.4845 18.0253 16.7047 18.4427C16.4845 18.5603 16.2216 18.5985 15.9732 18.6747C15.6877 18.5882 16.2216 18.5985 15.9732 18.6747Z" fill="white"/>
                            <path d="M11.9389 3.86324C15.3645 3.95886 18.1781 6.22392 18.7811 9.5982C18.8838 10.1731 18.9204 10.761 18.9661 11.3445C18.9853 11.59 18.8458 11.8232 18.58 11.8263C18.3054 11.8296 18.1818 11.6007 18.164 11.3554C18.1287 10.8697 18.1042 10.3819 18.037 9.9002C17.6824 7.35772 15.6476 5.25426 13.1075 4.80289C12.7253 4.73494 12.3341 4.71709 11.947 4.67662C11.7022 4.651 11.3816 4.63624 11.3274 4.33311C11.2819 4.07897 11.4972 3.8766 11.7401 3.86361C11.8061 3.85997 11.8726 3.86296 11.9389 3.86324C15.3645 3.95886 11.8726 3.86296 11.9389 3.86324Z" fill="white"/>
                            <path d="M17.1441 10.5877C17.1385 10.6303 17.1354 10.7305 17.1104 10.8249C17.0195 11.1676 16.4981 11.2105 16.378 10.8646C16.3424 10.762 16.3371 10.6453 16.3369 10.5348C16.3357 9.81189 16.178 9.08973 15.8121 8.46077C15.436 7.81433 14.8614 7.2709 14.1874 6.94207C13.7799 6.74326 13.3391 6.61969 12.8925 6.54604C12.6973 6.51388 12.5 6.49435 12.3038 6.46715C12.0661 6.43425 11.9391 6.28329 11.9504 6.0499C11.9609 5.83118 12.1213 5.67387 12.3606 5.68733C13.1467 5.73182 13.9061 5.90109 14.605 6.26983C16.0263 7.01974 16.8382 8.20345 17.0751 9.78403C17.0858 9.85563 17.1031 9.92657 17.1085 9.99845C17.1219 10.176 17.1304 10.3536 17.1441 10.5877C17.1385 10.6303 17.1304 10.3536 17.1441 10.5877Z" fill="white"/>
                            <path d="M15.0135 10.5034C14.7269 10.5086 14.5735 10.3505 14.5439 10.0887C14.5234 9.90616 14.5072 9.72118 14.4634 9.54359C14.3773 9.19382 14.1907 8.86967 13.8954 8.65534C13.756 8.55411 13.598 8.48036 13.4325 8.43279C13.2223 8.37231 13.004 8.38895 12.7942 8.33773C12.5664 8.28211 12.4404 8.09835 12.4763 7.88543C12.5088 7.69166 12.698 7.54043 12.9105 7.55576C14.2387 7.65128 15.1879 8.33539 15.3233 9.89317C15.3329 10.0031 15.3442 10.1193 15.3197 10.2244C15.2777 10.4044 15.144 10.4946 15.0135 10.5034C14.7269 10.5086 15.144 10.4946 15.0135 10.5034Z" fill="white"/>
                            </g>
                            <defs>
                            <clipPath id="clip0_85_939">
                            <rect width="23.8878" height="24.9989" fill="white" transform="translate(0 0.526367)"/>
                            </clipPath>
                            </defs>
                        </svg>                                                       
                    </a>
                    <a href="">
                        <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_85_952)">
                            <path d="M12.6839 24.8624C19.4258 24.8624 24.8912 19.397 24.8912 12.6551C24.8912 5.91317 19.4258 0.447754 12.6839 0.447754C5.94197 0.447754 0.476562 5.91317 0.476562 12.6551C0.476562 19.397 5.94197 24.8624 12.6839 24.8624Z" fill="#0D5735"/>
                            <path d="M4.28246 11.5661L18.2087 6.19658C18.8551 5.96307 19.4196 6.35425 19.2101 7.33162L19.2113 7.33041L16.8401 18.5015C16.6644 19.2935 16.1938 19.4861 15.5354 19.1129L11.9244 16.4517L10.1827 18.1296C9.99016 18.3221 9.82767 18.4846 9.45454 18.4846L9.71092 14.8099L16.4032 8.76396C16.6945 8.50758 16.3382 8.36315 15.9543 8.61832L7.68397 13.8253L4.11876 12.7131C3.34481 12.4676 3.32796 11.9392 4.28246 11.5661Z" fill="white"/>
                            </g>
                            <defs>
                            <clipPath id="clip0_85_952">
                            <rect width="24.9989" height="24.4434" fill="white" transform="translate(0 0.526367)"/>
                            </clipPath>
                            </defs>
                        </svg>                                                    
                    </a>
                </div>
            </div>
        </div>
    </div>
    <header class="header <%= title %>">
        <div class="header__row">
            <div class="header__left">
                <button class="header__openMenu">
                    <i>
                        <span></span><span></span><span></span>
                    </i>
                    Открыть меню
                </button>
                <p class="header__location">
                    <svg width="17" height="22" viewBox="0 0 17 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_74_369)">
                        <path d="M8.5015 0C3.80191 0 -0.0117188 4.10163 -0.0117188 9.16658C-0.0117188 11.6963 0.94094 13.9879 2.48251 15.6475L8.5015 22L14.5223 15.6461C16.0636 13.9881 17.0165 11.6966 17.0147 9.16491C17.0147 4.10545 13.2036 0 8.5015 0ZM8.5015 13.75C6.15028 13.75 4.24477 11.6982 4.24477 9.16658C4.24477 6.63491 6.15028 4.58342 8.5015 4.58342C10.8527 4.58342 12.7582 6.63491 12.7582 9.16658C12.7582 11.6982 10.8527 13.75 8.5015 13.75Z" fill="#FFD571"/>
                        </g>
                        <defs>
                        <clipPath id="clip0_74_369">
                        <rect width="17" height="22" fill="white"/>
                        </clipPath>
                        </defs>
                        </svg>Лиговский пр. 56                
                </p>
            </div>
            <div class="header__center">
                <a href="" class="header__logo">
                    <img src="<%=require('@img/logo.svg') %>" alt="">
                </a>
            </div>
            <div class="header__right">
                <button class="header__call">
                    Оставить заявку
                </button>
                <a href="tel:8 (812) 441-29-68" class="header__tel">
                    8 (812) 441-29-68
                </a>
                <div class="header__soc">
                    <a href="">
                        <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_74_375)">
                            <path d="M4.82978 19.9571L5.23986 20.1849C6.92573 21.2329 8.88501 21.8708 10.9354 21.8708C16.9043 21.8708 21.8708 16.9043 21.8708 10.8442C21.8708 4.7842 16.9043 0 10.8898 0C4.87535 0 0 4.82978 0 10.8442C0 12.9402 0.592341 14.9906 1.68587 16.722L1.95928 17.1321L0.911325 20.9595L4.82978 19.9571Z" fill="#FFD571"/>
                            <path d="M7.37802 4.70308L6.51078 4.65723C6.23689 4.65723 5.96305 4.74893 5.78047 4.93229C5.36966 5.29902 4.685 5.98661 4.50242 6.90346C4.18292 8.27869 4.685 9.92894 5.87179 11.5792C7.05857 13.2294 9.34083 15.8882 13.3576 17.0342C14.6356 17.4009 15.6398 17.1717 16.4614 16.6675C17.1005 16.2549 17.5112 15.6132 17.6482 14.9255L17.7851 14.2837C17.8308 14.1004 17.7395 13.8712 17.5569 13.7795L14.6813 12.4501C14.4987 12.3584 14.2704 12.4043 14.1335 12.5876L12.9924 14.0545C12.9011 14.1462 12.7642 14.192 12.6272 14.1462C11.8513 13.8712 9.24951 12.771 7.83449 10.0206C7.78883 9.88309 7.78883 9.74553 7.88015 9.65388L8.97562 8.4162C9.06693 8.27869 9.11254 8.09533 9.06693 7.95777L7.74323 4.97815C7.69752 4.84059 7.5606 4.70308 7.37802 4.70308Z" fill="#0D5735"/>
                            </g>
                            <defs>
                            <clipPath id="clip0_74_375">
                            <rect width="21.8708" height="21.8708" fill="white"/>
                            </clipPath>
                            </defs>
                            </svg>
                                                     
                    </a>
                    <a href="">
                        <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_74_378)">
                            <path d="M11.9812 21.9516C18.0135 21.9516 22.9037 17.0614 22.9037 11.029C22.9037 4.99664 18.0135 0.106445 11.9812 0.106445C5.94879 0.106445 1.05859 4.99664 1.05859 11.029C1.05859 17.0614 5.94879 21.9516 11.9812 21.9516Z" fill="#FFD571"/>
                            <path d="M4.46478 10.0555L16.9253 5.25118C17.5037 5.04225 18.0088 5.39227 17.8214 6.26677L17.8224 6.26569L15.7008 16.261C15.5436 16.9697 15.1225 17.142 14.5334 16.8081L11.3025 14.427L9.74409 15.9283C9.57177 16.1006 9.42638 16.246 9.09252 16.246L9.32191 12.958L15.3099 7.54836C15.5705 7.31897 15.2517 7.18973 14.9082 7.41805L7.5083 12.077L4.31831 11.0819C3.62582 10.8622 3.61074 10.3894 4.46478 10.0555Z" fill="#0D5735"/>
                            </g>
                            <defs>
                            <clipPath id="clip0_74_378">
                            <rect width="22.3678" height="21.8708" fill="white" transform="translate(0.632812 0.176758)"/>
                            </clipPath>
                            </defs>
                            </svg>
                                                       
                    </a>
                </div>
            </div>
        </div>
    </header>